.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura de la card-container según tus necesidades */
  }
  
  .card {
    width: 60%; /* Ancho del card ajustado al 60% */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    margin-bottom: 20px;
  }
  
  .card-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .close-button {
    padding: 8px;
    background-color: #f00;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  