.rounded-button {
    border-radius: 30px;
    background: #83989A;
    color: #fff;
    text-transform: none;
    font-size: 15px;
    width: 220px;
    height: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
 
  }

  

/*
css
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
 html
 <div class="button-container">
    <app-button [content]="''" 
        [backgroundColor]="'#FFFFFF'" 
        [color]="'#707070'" 
        [position]="'center'"
        [width]="''"
        [redirect]="'/busqueda-arr'"></app-button>
  </div>

  <div class="button-container">
          <app-button [content]="'Buscar especialista'" [color]="''" [position]="'center'" [redirect]="'/welcome'"></app-button>
        </div>

  }
  */