.rounded-button {
    border-radius: 30px;
    background: #83989A;
    color: #fff;
    text-transform: none;
    font-size: 15px;
    width: 220px;
    height: 40px;

    
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
 
  }
  