.container {
  height: calc(100vh - 49px); /* Resta la altura de las tabs para que el contenido se ajuste correctamente */
  overflow-y: auto; /* Permite que el contenido se deslice verticalmente si no cabe en la pantalla */
}
 
  .bottom-section-1 {
   
    display: flex;
    flex-direction: column;
    text-align: left;
    
    opacity: 100%;
    flex: 1;
    height: calc(100% - 99px); 
  
    //overflow-y: auto;
    padding-bottom: 60px;
    flex: 6;
    //padding-top: 15px;
    overflow: auto;

  }

  .custom-heading {
    text-align: left;
    margin-left: 5%;
    margin-top: 20px;
    color: #83989A;
  }

  .notification-header {
    color: #666666;
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .pretratamiento-button {
    background-color: #83989A;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
  }
  
  .postratamiento-button {
    background-color: #00000029;
    color: #83989A;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #83989A; 
  }
    
  .icon-container ion-icon {
    margin: 10px 25px;
    margin-bottom: 10px;
  }


  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fullscreen-image {
    width: 100%;
    //max-width: 100vw;
  }


  .text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .centered-text {
    margin-bottom: 10px;
    color: #666666;
  } 
  
  .whatsapp-icon { 
    font-size: 60px;
    color: green;
  }

  .container {
    height: 100vh;
  } 
  ion-content {
    height: calc(100% - 99px);
  
  }


  ion-content {
    height: 100vh;
  }


  .icon-and-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Espacio entre el icono/texto y el slider */
  }
  
  .icon-and-text ion-icon {
    margin-right: 20px; /* Espacio entre el icono y el texto */
  }

  .icono{
    font-size: 40px;
    background-color: #F6F0EC;
    border-radius: 50%;
    padding: 10px;
  }