<ion-content [fullscreen]="true">
   
  <div class="container">
    <div class="background-color"> 
      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>

      <!--div class="top-section-1">
        <div class="centered-content">
          <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img" [routerLink]="['/']">
          
        </div> 
        <ion-icon name="notifications-outline" [routerLink]="['/home']" class="notifications-icon" ></ion-icon>
      </div--> 
      <div class="bottom-section-1">
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <div class="text-content" >
          <h3 class="notification-header"> <strong>Criolipolisis</strong></h3>
        </div>
        
        <div class="button-container">
          <button class="pretratamiento-button">Pretratamiento</button>
          <button class="postratamiento-button">Postratamiento</button>
        </div>
        
        <div class="icon-container">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <ion-icon name="person"></ion-icon>
          <ion-icon name="bandage"></ion-icon>
          <ion-icon name="barbell"></ion-icon>
        </div>
       
      

        <app-slider [images]="images" [slidesPerView]="'1.7'"></app-slider>
        <div class="text-center">
          <p class="centered-text">Queremos que siempre estés bien <br>
            acompañad@. Site han surgido dudas y <br>
            necesitas ayuda, entra en contacto con <br>
            tu profesional de la salud a traves de <br>
            whatsapp
             </p>
          <ion-icon src="../../../assets/burbuja.svg" class="whatsapp-icon" [routerLink]="['/chat']"></ion-icon>
        </div>



       
      </div>

      
    </div>
  
</div>

<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
 
</ion-content>

