<ion-content [fullscreen]="true">
    
  <div class="container">
    <div class="background-color"> 
      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>

      <div class="bottom-section-1">
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <div class="text-content" >
          <h3 class="notification-header"> <strong>Criolipolisis</strong></h3>
        </div>
        
        <div class="button-container">
          <button class="pretratamiento-button">Pretratamiento</button>
          <button class="postratamiento-button">Postratamiento</button>
        </div> 
        
        <!--div class="icon-container">
          <ion-icon src="../../../assets/A.svg"></ion-icon>
          <ion-icon src="../../../assets/B.svg" ></ion-icon>
          <ion-icon src="../../../assets/C.svg"></ion-icon>
          <ion-icon src="../../../assets/D.svg"></ion-icon>
        </div-->
        <app-iconos></app-iconos>
       
        <div class="icon-and-text">
          <ion-icon src="../../../assets/ojo.svg" class="icono"></ion-icon>
          <h3 class="centered-text" style="color: #666666; text-align: center;"><strong>Todo lo que debo saber</strong></h3>
        </div>

        <app-slider [images]="images" [slidesPerView]="'1.7'"></app-slider>
        <div class="text-center">
          <p class="centered-text">Queremos que siempre estés bien <br>
            acompañad@. Site han surgido dudas y <br>
            necesitas ayuda, entra en contacto con <br>
            tu profesional de la salud a traves de <br>
            whatsapp
             </p>
          <ion-icon src="../../../assets/burbuja.svg" class="whatsapp-icon" [routerLink]="['/chat']"></ion-icon>
        </div>



       
      </div>

      
    </div>
   
</div>

<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
 
</ion-content>

