<ion-content>
  <div class="background-image"></div> 
  <div class="card-container">
    <ion-card>
    

      <ion-card-content class="card-content">
        <h3 class="card-title">Nuevo Paciente</h3>
        <p class="subtitle">Introduce aquí el teléfono del <br> paciente:</p>
        <!--div class="input-container">
          <ion-input placeholder="+54" class="small-input"></ion-input>
          <ion-input placeholder="Teléfono grande" class="large-input"></ion-input>
        </div-->

        <div class="inputs">
          <div class="input-container small-input">
            <ion-item>
           
              <ion-input>
                <!--ion-icon name="chevron-down" slot="start"></ion-icon-->
                <ion-label >+34</ion-label>
              </ion-input>
            </ion-item>
          </div>
          <div class="input-container large-input">
            <ion-item>
              <ion-label position="floating">Telefono</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </div>
        </div>

       
        <div class="button-container">
          <app-button [content]="'Añadir'" [color]="''" [position]="'center'" [redirect]="'/nuevo-protocolo'"></app-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>

