<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="background-color">
      <div class="top-section-1">
        <div class="centered-content"> 
          <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img" [routerLink]="['/']">
          
        </div>
        <ion-icon name="notifications-outline" [routerLink]="['/home']" class="notifications-icon" ></ion-icon>
      </div>
      <div class="bottom-section-1">
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <div class="text-content" >
          <h6 class="custom-heading"><strong>Seleccionar un tratamiento</strong></h6>
        </div>
        <!--div>
          <swiper-container 
          #swiper 
         (afterinit)="swiperReady()"
          (slideChange)="swiperSlideChanged($event)"
          [loop]="true"
          [pagination]="true">
            <swiper-slide *ngFor="let image of images">
              <img [src]="image">
            </swiper-slide>
            
          </swiper-container>
        </div-->
        <div class="">
          <img src="../../../assets/Grupo de desplazamiento 1.png" alt="Imagen" class="" >
     
        </div>
        <div class="text-content" >
          <h6 class="custom">Encuentra a tu profesional de la salud</h6>
        </div>
        <div class="mapa">
          <img src="../../../assets/maposo.png" alt="Imagen" class="mapa">
     
        </div>
      </div>
    </div>
    <ion-item>
      5km
      <ion-range label-placement="start">
        <div slot="label"></div>
      </ion-range>
      500km
    </ion-item> 
</div>

 
</ion-content>


<ion-tabs >
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="notification" class="elevated-tab">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
   
  </ion-tab-bar>
</ion-tabs>