<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="background-color">
      <div class="top-section-1">
        <div class="centered-content">
          <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img">
          
        </div>
        <ion-icon name="notifications-outline" [routerLink]="['/home']" class="notifications-icon" ></ion-icon>
      </div>
      <div class="bottom-section-1">

        <ion-searchbar placeholder="Buscar"></ion-searchbar>

        <div class="text-content" >
          <h5 class="custom-heading"><strong>Productos y servicios</strong></h5>
          
          
        </div>
        <div class="textos">
          <h6 class="user-text">¡Ooops, aun no tengo ningun<br>tratamiento asignado!</h6>
          
          <h6 class="additional-text">Cuando lo tengas, podras acceder a los <br>
            productos/servicios que tu profesional de la<br>salud pone a tu disposicion</h6>
        </div>
     
        <div class="location-content">
          
          <ion-button class="login" shape="round" expand="full" >Buscar profesionales</ion-button>
        </div>
        
      </div>
    </div>
    
</div>


</ion-content>
<ion-tabs >
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline" [routerLink]="['/emergente-inicio-sesion']"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="notification" class="elevated-tab">
      <ion-icon name="home-outline" [routerLink]="['/home']"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline" [routerLink]="['/emergente-inicio-sesion']"></ion-icon>
    </ion-tab-button>
   
  </ion-tab-bar>
</ion-tabs>