<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="background-color">

      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
      <!--div class="top-section-1">
        <div class="centered-content">
          <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img">
          
        </div>
        <ion-icon name="notifications-outline" [routerLink]="['/home']" class="notifications-icon" ></ion-icon>
      </div-->
      <div class="bottom-section-1">

        <ion-searchbar placeholder="Buscar"></ion-searchbar>

        <div class="text-content" >
          <h5 class="custom-heading"><strong>Productos y servicios</strong></h5>
          
          
        </div>
        <div class="textos">
          <h6 class="user-text">¡Ooops, aun no tengo ningun<br>tratamiento asignado!</h6>
          
          <h6 class="additional-text">Cuando lo tengas, podras acceder a los <br>
            productos/servicios que tu profesional de la<br>salud pone a tu disposicion</h6>
        </div>
     
        <!--div class="location-content">
          <div class="button-container">
            <app-button [content]="'Buscar profesionales'" [color]="''" [position]="'center'" [redirect]="'/'"></app-button>
          </div>
        </div-->
        <div class="button-container">
          <app-button [content]="'Buscar profesionales'" [color]="''" [position]="'center'" [redirect]="'/busqueda-arr'"></app-button>
        </div>
       
        
      </div>
    </div>
    
</div>

<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
</ion-content>
