<ion-content [fullscreen]="true">
  <div class="background-image"> </div>
 
  <div class="modal-container">
    
    <div class="modal-content">
      <button class="close-button">X</button>
      <div class="circulo-5">
        <img src="../../../assets/carita.png" alt="Imagen">
      </div>
      <div class="texto">
        <p>¿Estas seguro de que deseas <br>eliminar tu cuenta en Iwois?</p>
      <h5>¡Te echaremos de menos!</h5>
      </div>
      
      <div class="button-container">
        <button class="continue-button" [routerLink]="['/eliminacion-cuenta']" style="background-color: #546E6E;" >Si</button>
        <button class="continue-button"  style="background-color: #83989A;" >No</button>
      </div>
    </div>
    </div>
 
</ion-content>
