 
<ion-content>
  
  <div class="background-image"></div> 

  <div class="modal-container">
    
    <div class="modal-content">
    <h3 class="h3"><strong>¡Difusión enviada!</strong></h3>
      <p>Tu mensaje ha sido enviado <br> 
        correctamente a los pacientes <br> 
        seleccionados.</p>

      <div class="button-container">
        <app-button [content]="'Aceptar'" [color]="''" [position]="'center'" [redirect]="'/lista-protocolos-con'"></app-button>
      </div>
    </div> 
 
    <!--app-modal
     [paragraphText]="textoDelParrafo" 
    [buttonText]="textoDelBoton"
   [closeRoute]="'/home'" 
   [continueRoute]="'/login-prof'"
    ></app-modal-->
    
  </div>
 
</ion-content>




