<ion-content [fullscreen]="true" overflow-scroll="true">
  
  <div class="container">
    <div class="background-color"> 
      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/mensajes-con'"></app-superior>
   
      <div class="bottom-section">
       
        <div class="item-container">
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="../../../assets/d1.png" />
            </ion-avatar>
            <ion-label><strong>Dra Ususario Nytelweb</strong></ion-label>
          </ion-item>
        </div>

        <div class="photo-container">

          <!--img src="../../../assets/conv2.svg" alt="Foto" class="photo-image"-->
          <ion-card>
            <img alt="Silhouette of mountains" src="../../../assets/conv2.svg" class="photo-image">
  
          </ion-card>
        </div>

        
        <div class="main-container">        
        <div class="content-container">
          <div class="left-content">
            <ion-icon src="../../../assets/camera.svg" class="left-icon"></ion-icon>
            <p class="left-text" [routerLink]="['/']">Escribe tu mensaje...</p>
          </div>

          <div class="right-content">
            <ion-icon src="../../../assets/telegram.svg" class="right-icon"></ion-icon>
          </div>
        </div>

        <div class="bottom-image-container">
          <img src="../../../assets/tecla.png" alt="Foto" class="bottom-image">
        </div>
        </div>
      </div>
      </div>
    
</div>


  
</ion-content>




