



  .bottom-section-1 {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    opacity: 100%;
    flex: 1;
    //height: 80vh;
    padding-bottom: 150px;
    overflow: auto;
    
  }

  .custom-heading {
    text-align: left;
    margin-left: 5%;
    margin-top: 20px;
    color: #83989A;
  }

  .notification-header {
    color: #666666;
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .pretratamiento-button {
    background-color: #83989A;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
  }
  
  .postratamiento-button {
    background-color: #00000029;
    color: #83989A;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: #83989A; 
  }
    
  .icon-container ion-icon {
    margin: 10px 25px;
    margin-bottom: 10px;
  }


  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  
  .fullscreen-image {
    width: 100%;
    //max-width: 100vw;
  }


  .text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
  }
  
  .centered-text {
    margin-bottom: 10px;
    color: #83989A;
  }
  
  .whatsapp-icon {
    font-size: 40px;
    color: green;
  }

  .container {
    height: 100vh;
  }
  ion-content {
    height: 100vh;
  }



  .camera-icon {
    font-size: 30px;
    color: #83989A;
    margin-right: 20px;
    background-color:#F6F0EC;
    border-radius: 50%;
   
    padding: 10px;
  }
  
  .antes-despues-text {
    font-size: 20px;
    color: #666666;;
    margin-right: 40px;
  }
  
  .camera-outline-icon, 
  .location-icon {
    font-size: 30px;
    color: #83989A;
    margin-right: 10px;
  }
  
  .location-icon{
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid black;
    padding: 1.5px;
   font-size: 25px;
  }


  .a{
    text-align: center;
    margin-top: 10px;
    color: #83989A;
  }

  .range{
   
    color: #666666;
    width: 85%;
    padding-left: 70px;
    align-items: center;
  
  }
  



  .left-icons {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  .image-containerr {
    display: flex;
    justify-content: space-between;
  }

  .icon{
    font-size: 50px;
    margin-right: 20px;

  }

  