<ion-content [fullscreen]="true">
  
  <div class="container"> 
    <div class="background-color">
      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
    
      <div class="bottom-section-1">
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <div class="text-content" >
          <h3 class="notification-header"> <strong>Criolipolisis</strong></h3>
        </div>
        
        <div class="button-container">
          <button class="pretratamiento-button">Pretratamiento</button>
          <button class="postratamiento-button">Postratamiento</button>
        </div>
        <!--div class="icon-container">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <ion-icon name="person"></ion-icon>
          <ion-icon name="bandage"></ion-icon>
          <ion-icon name="barbell"></ion-icon>
        </div-->
        <app-iconos></app-iconos>
        <div class="image-container">
          <ion-icon src="../../../assets/c1.svg" class="camera-icon"></ion-icon>
          <p class="antes-despues-text"> <strong>Antes y Después</strong></p>
          <ion-icon src="../../../assets/cam.svg" class="camera-outline-icon"></ion-icon>
          <ion-icon src="../../../assets/comp.svg" class="location-icon"></ion-icon>
        </div>
       
        <div class="fotos">
          <app-image-grid [images]="imageUrls"></app-image-grid>
      </div>
        <!--div class="image-container">
          <img src="../../../assets/espalda.png" alt="Imagen" class="fullscreen-image">
        </div-->
        <a [routerLink]="['/ver-todo-progreso']" class="a">Ver todo</a>

        <ion-range aria-label="Dual Knobs Range" [dualKnobs]="true" 
        [value]="{ lower: 0, upper: 100 }" class="range" mode="ios">
      </ion-range>

        <div class="text-center">
          <p class="centered-text">Queremos que siempre estés bien <br>
            acompañad@. Site han surgido dudas y <br>
            necesitas ayuda, entra en contacto con <br>
            tu profesional de la salud a traves de <br>
            whatsapp
             </p>
          <ion-icon src="../../../assets/burbuja.svg" class="whatsapp-icon"></ion-icon>
        </div>
      </div>
    </div>
  
</div>


<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
 
</ion-content>


