.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  background-color: #F6F0EC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 100%;
  flex: 1;
  height: 50%;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 20px;
  flex: 1;
}

.background-color {
  width: 100%;
  height: 100%;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

.location-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #666666;
}

.location-content p {
  margin-right: 10px;
}

.top-section .text-content {
  text-align: left;
  margin-right: 150px;
  margin-top: 20px;
}

.rounded-input {
  --border-radius: 50px;
  --background:#00000029;
  --color:#8F8F8F;
  opacity: 100%;
  --max-width: 100%;
}

.text-content{
  color: #666666;
}

.login{
  --background: #83989A;
  --color: #fff;
  position: fixed;
  width: 50%;
  margin-top: 100%;
}


/*slide 2*/

.top-section-1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #F6F0EC;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 60%;
}

.top-section-1 .text-content {
  text-align: left;
  margin-right: 150px;
  margin-top: 20px;
  padding: 1%;
  color: #83989A;
}

.color{
  color: #666666;
}

.rounded-input-1 {
  --border-radius: 30px;
  --background:#00000029;
  --color:#8F8F8F;
  opacity: 100%;
  --max-width: 100%;

}

.login-1{
  --background: #83989A;
  --color: #fff;
  position: fixed;
  width: 50%;
  margin-top: 100%;
  align-items: center;
  margin-left: 25%;
}

.input-group {
  display: flex;
  
}

.rounded-input-small {
  width: 80px; /* Ajusta el ancho según tus necesidades */
  margin-right: 10px; /* Espacio entre los inputs */
  border-radius: 60px;
}

.rounded-input-large {
 // width: 180px; /* Ajusta el ancho según tus necesidades */
 flex: 1;
}


/*slide 3*/

.top-section-4 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #F6F0EC;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 60%;
}

.bottom-section-4{
  height: 40%;
  align-items: center;
}

.login-4{
  --background: #83989A;
  --color: #fff;
  position: fixed;
  width: 50%;
  margin-top: 100%;
  align-items: center;
}

.input-group-1 {
  display: flex;
}

.rounded-input-small-1 {
  flex: 1;
  margin-right: 10px;
  width: 60px;
  margin-top: 25px;
  opacity: 100%;
  background-color: #00000029;
  border-radius: 10px;
}


/*slide 4*/
.containerss {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-superior {
  height: 70%;
  background-color: #F6F0EC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 100%;
  flex: 1;
}

.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C4C2C2;
  margin-top: 25%;
}

.circulo img {
  width: 60px;
  height: 60px;
}

.img{
  width: 60px;
  height: 60px;
  color: #FFFFFF;
}

.texto {
  text-align: left;
  margin-top: 20px;
  color: #666666;
  margin-right: 80px;
}

.inputs {
  margin-top: 20px;
  margin-bottom: 6%;
}

.inputs ion-item {
  margin-bottom: 5%;
  border-radius: 30px;
  color: #666666;
}
.div-inferior {
  display: flex;
  align-items: center;
  justify-content: center;
 // height: 30%;
}

/*slide 5*/
.circulo-5 {
  width: 100px;
  height: 100px;
 // border-radius: 50%;
  //background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 // background-color: #C4C2C2;
  margin-top: 25%;
}

.texto-5 {
  text-align: left;
  margin-top: 20px;
  color: #666666;
  margin-right: 120px;
}

