

<ion-content [fullscreen]="true">
  <div class="background-image">

  <div class="modal-container">
    
    <div class="modal-content">
      <button class="close-button">X</button>
      <p>Estas seguro de que deseas <br>cerrar sesion en Iwois</p>
      <div class="button-container">
        <button class="continue-button" style="background-color: #83989A;">Si</button>
        <button class="continue-button" [routerLink]="['/perfil']" style="background-color: #546E6E;">No</button>
      </div>
    </div>
    </div>
  </div>
</ion-content>
