<!--div class="icon-container">
  <ion-icon [name]="iconNames[0]" (click)="redirectTo(routeA)"></ion-icon>
  <ion-icon [name]="iconNames[1]" (click)="redirectTo(routeB)"></ion-icon>
  <ion-icon [name]="iconNames[2]" (click)="redirectTo(routeC)"></ion-icon>
  <ion-icon [name]="iconNames[3]" (click)="redirectTo(routeD)"></ion-icon>
</div-->

<div class="icon-container">
  <ion-icon [src]="getIconPath(iconNames[0])" (click)="redirectTo(routeA)" class="grande"></ion-icon>
  <ion-icon [src]="getIconPath(iconNames[1])" (click)="redirectTo(routeB)"></ion-icon>
  <ion-icon [src]="getIconPath(iconNames[2])" (click)="redirectTo(routeC)"></ion-icon>
  <ion-icon [src]="getIconPath(iconNames[3])" (click)="redirectTo(routeD)"></ion-icon>
</div>
 