<div class="card-container">
  <div class="card">
    <div class="card-content">
      <h5 class="sub-heading">{{ subHeading }}</h5>
      <p class="card-text" [innerHTML]="cardText"></p>
    </div>
    <button class="card-button">
   <strong>{{ cardButtonContent }}</strong>   
    
     
    </button>
    <div class="save-container">
      <p class="save-text">Guardar</p>
    <div class="icon-container">
      <ion-icon src="../../../assets/edit.svg" class="small-icon"></ion-icon>
      <ion-icon src="../../../assets/close-outline.svg" class="small-icon"></ion-icon>
    </div>
    
  </div>
   
  </div>
</div> 
