<ion-content>
  

  <div class="modal-container">
   
    <div class="modal-content">
      <button class="close-button" [routerLink]="['/login']">X</button>
      <div class="logo-container">
        <ion-img
          src="../../../assets/Logo IWOIS.png"
          alt="Logo" style="height: 60px; width: 110px;"
        >
        </ion-img>
      </div>
      <p>La información ofrecida por<br> IWOIS solamente tiene carácter<br> informativo y no pretende<br> sustituir el diagnóstico de un<br> médico o especialista.<br><br>
      Las decisiones relativas a la salud deben ser tomadas por un profesional sanitario, considerando las características únicas del paciente.<br><br>
      Cualquier duda que pueda surgir a raíz de un tratamiento, rogamos utilizar la herramienta de WhatsApp que se encuentra en la ficha de tu médico o especialista.</p>
      <button class="continue-button" [routerLink]="['/login']">Aceptar</button>
      
    </div>
  </div>

</ion-content>
