.top-section-1 {
    flex: 1;
    display: flex;
    //justify-content: center;
    align-items: flex-start;
    background-color: #F6F0EC;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 99px;

   
  }

  .centered-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  align-items: center;
  }
 
  .notifications-icon {
    margin-top: 12%;
   // margin-right: 5px;
    margin-left: 50%;
    align-items: end;
    justify-content: end;
    width: 40px;
    font-size: 24px;
  }

  .logo-img {
    height: 30px;
    width: 80px;
    margin-top: 35%;
    margin-left: 35px;
  }
  .bottom-section-1 {
   
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    text-align: left;
    
    opacity: 100%;
    flex: 1;
    //height: 80vh;
    height: calc(100% - 99px); /* Establece la altura de la sección inferior restando la altura de la sección superior */
    overflow: auto;
  }

  .custom-heading {
    text-align: left;
    margin-left: 5%;
    margin-top: 20px;
    color: #83989A;
  }

  .notification-header {
    color: #666666;
    text-align: center;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
  }
  
  .pretratamiento-button {
    background-color: #546E6E;
    color: #FFFFFF;
    padding: 11px 40px;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 16px;
    width: 150px;
  }
  
  .postratamiento-button {
    background-color: #83989A;
    color: #FFFFFF;
    padding: 10px 40px;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 16px;
    width: 150px;
  
  }
  
 
  .container {
    height: 100vh;
  }
  ion-content {
    height: calc(100% - 99px);
  }



  

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .image-container {
    display: flex;
    justify-content: center;
   
  }
  
  .bottom-image {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    height: auto;
  }
  
  .content-container {
    padding: 5px;
  }


  .boton-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;


    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    //border: 1px solid #F6F0EC; /* Borde sombreado */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  }

