.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 150px;
    opacity: 80%;
} 

.country-options {
  text-align: left;
}

.country-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.country-image {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 5px;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  } 
.text-container {
    text-align: center;
    color:#666666;
    opacity: 80%;
  }
  
  .country-options {
    text-align: left;
  }
  
ion-content{
    --background: #F6F0EC;
    opacity: 100%;
}

.button-container {
  margin-top: auto;
  width: 60%; 
}

ion-button.login{
    --background: #83989A;
    --color: #fff;
    text-transform: none;
    font-size: 15px;
  }

  .country-option {
    border-bottom: 1px solid #707070;
    padding-bottom: 5px;
    width: 180px;
    color: #808080;
    opacity: 100%;
    align-items: center;
  
  }

  .country-image {
    margin-right: 20px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
  }
  