.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    opacity: 80%;
} 
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
.text-container {
    text-align: center;
    color:#666666;
    opacity: 80%;
  }
  
  .country-options {
    text-align: left;
  }
  
ion-content{
    --background: #F6F0EC;
    opacity: 100%;
}

.button-container {
  margin-top: auto;
  width: 70%;
}

ion-button.login{
    --background: #83989A;
    --color: #fff;
  }

  .country-option {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    width: 250px;
    color: #808080;
    opacity: 100%;
    align-items: center;
    
  }
  