<ion-content class="ion-padding background-image">
  <div class="container">
    <div class="logo logo-container">
      <ion-img
        src="../../../assets/Logo IWOIS.png"
        alt="Logo" style="height: 60px; width: 110px;"
      > 
      </ion-img>
    </div>
    <div class="text-container" style="margin-top: 70px;">
      <p>¿Dónde estás?</p>
      <p>Onde você está?</p>
    </div>
    <div class="country-options" style="margin-top: 50px;">
      <p class="country-option">Portugal</p>
      <p class="country-option">Brasil</p> 
      <p class="country-option">España</p>
    </div>
    <div class="button-container">
      <ion-button class="login" shape="round" expand="full" [routerLink]="['/welcome']" >Siguiente</ion-button>
    </div>
  </div>
  <div class="home-indicator"></div>
</ion-content>

