ion-searchbar.custom {
    --border-radius: 0px;
    text-align: left;
    border-bottom: 1px solid;
    --box-shadow: none;
    width: 86%;
    display: block;
    margin: auto;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right:0px;
  }