<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="background-color">
      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
      <div class="bottom-section">
        <div class="image-container">
          <img src="../../../assets/perfil.png" alt="Foto" class="centered-image">
        </div>
        <h4 class="username"><strong>Usuario Nytelweb</strong></h4>
        <p class="email">nytelweb@nytelweb.es</p>
        <p class="email">+34 0000000000</p>
     
        <!--div class="chat-icon-container" [routerLink]="['/chat']">
          <ion-icon src="../../../assets/burbuja.svg" class="chat-icon"></ion-icon>
        </div-->
        <div class="floating-icon">
          <ion-icon src="../../../assets/burbuja.svg" [routerLink]="['/chat-medico']"></ion-icon>
        </div>

        <h3 class="section-title">Tratamientos asignados:</h3>
        <p class="section-text">Este paciente no tiene ningún protocolo <br>
           asignado.</p>             
        
        
           <div class="location-content">
          
            <!--ion-button class="login" shape="round" expand="full" [routerLink]="['/seleccion-protocolos']">Asignar nuevo</ion-button-->
            <app-button [content]="'Asignar nuevo'" [color]="''" [position]="'center'" [redirect]="'/seleccion-protocolos'"></app-button>
          </div>

      </div>
      </div>
    
</div>
<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
  
</ion-content>

