.container {
    //min-width: 320px;
    max-width: 100%;
    //padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    //height: 100%;
    height: 100vh;
  }


  .bottom-section {
    background-color: #FFFFFF;
    height: 100%;
  }
  
  .centered-image {
    display: block;
    margin: 30px auto;
  }
  
  .username, .email {
    text-align: center;
    color: #83989A;
  }

  .username {
    color: #666666;
  
  }
  

  .chat-icon-container {
    display: flex;
    justify-content: center;
   
  }

  .chat-icon {
    font-size: 50px;
    //margin-top: 10px;
    align-items: center;
  
  }
  
  .section-title {
    color: #666666;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 40px;
  }
  
  .section-text {
    color: #666666;
    text-align: center;
  }
  

  .login{
    --background: #83989A;
    --color: #fff;
    position: relative;
    width: 60%;
    height: 40px;
    margin-top: 20%;

   text-transform: none;
   font-size: 15px;
  }

  .location-content {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 35%;
   
  }

  

 
  .floating-icon {
    position: fixed;
    top: 360px;
    right: 50px;
   font-size: 50px;
  }
 


  

  

   