<!--div class="card-container">
  <div class="card">
   
    <div class="card-content">
     
      
      <p [innerHTML]="cardText"></p>
    </div>

    <button class="card-button">{{ cardButtonContent }}</button>
  </div>

</div--> 

<div class="card-container">
  <div class="card">
    <div class="card-content">
      <h5 class="sub-heading">{{ subHeading }}</h5>
      <p [innerHTML]="cardText"></p>
    </div>
    <button class="card-button">
      {{ cardButtonContent }}
    
     
    </button>
    <p class="save-text">Guardar</p>
    <p class="red-text">Texto en rojo</p>
  </div>
</div>
