<ion-content>
   

  <div class="modal-container">
   
    <div class="modal-content">
      
      <img class="modal-image" src="../../../assets/exclam.png" alt="Imagen">
      <div class="logo-container">
        <ion-img
          src="../../../assets/Logo IWOIS.png"
          alt="Logo" style="height: 60px; width: 80px;"
        >
        </ion-img>
      </div>
      <h5 class="texto">Nos preocupamos por tu salud</h5>
      <p style="color: #707070;">Si crees tener alguno de los<br>
         problemas que se enumeran a<br> 
         continuación<br><br>
      - Enfermedad cardíaca<br>
      - Escoliosis severa .<br>
      - Daños en la columna<br>
      - Tumor benigno o maligno <br>
      - Hipertensión <br><br>
      Te recomendamos que consultes <br>con tu médico antes de comenzar <br>a seguir el programa.

    </p>
      <button class="continue-button" [routerLink]="['/']">Entendido</button>
      
    </div>
  </div>

</ion-content>