<ion-content [fullscreen]="true"> 
  
  <div class="container">
    <div class="background-color">
      <div class="top-section-1">
        <ion-icon name="chevron-back" class="back-icon"></ion-icon>
        <div class="centered-content">
          <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img" [routerLink]="['/']">
          
        </div>
        <ion-icon name="notifications-outline" [routerLink]="['/home']" class="notifications-icon" ></ion-icon>
      </div>
      <div class="bottom-section-1">
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <div class="text-content" >
          <h4 class="custom-heading"><strong>Mis tratamientos</strong></h4>
        </div>

        <ion-accordion value="first"  [routerLink]="['/tratamientos2']"> 
          <ion-item slot="header" color="light"> 
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../assets/enfermaaa.png" />
            </ion-thumbnail>
            <ion-label>
             <h6>Dra Usuario Nytelweb</h6> 
             <p style="color: #83989A;">Medico estetico</p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
        

     

        <app-slider [images]="images" [slidesPerView]="'2.5'"></app-slider>

        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../assets/medico1.png" />
            </ion-thumbnail>
            <ion-label>
             <h6>Dr Usuario Nytelweb</h6> 
             <p style="color: #83989A;">Ginecologo</p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
  
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../assets/medico2.png" />
            </ion-thumbnail>
            <ion-label>
             <h6>Dr Usuario Nytelweb</h6> 
             <p style="color: #83989A;">Odontolo</p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
        
      </div>
    </div>
   
</div>

<app-custom-tab-bar [tabs]="tabs"></app-custom-tab-bar>
 
</ion-content>
<!--ion-tabs >
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline" [routerLink]="['/emergente-inicio-sesion']"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="notification" class="elevated-tab">
      <ion-icon name="home-outline" [routerLink]="['/home']"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline" [routerLink]="['/emergente-inicio-sesion']"></ion-icon>
    </ion-tab-button>
   
  </ion-tab-bar>
</ion-tabs-->

