.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; 
  }
   
  .top-section {
    flex: 4;
    position: relative;
  }
  
  .background-image {
    background-image: url("../../../assets/talla.png");
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
   // height: 40%;
    height: 40vh;
    z-index: -1;
  }
  
  .top-overlay {
   // position: absolute;
   position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }
  
 
  .back-icon {
    position: absolute;
    top: 50px;
    left: 20px;
    color: #666666;
    font-size: 35px;
   
  }

  .content-container {
    display: flex;
    align-items: center;
    
    width: 100%;
    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 300px;
    margin-top: -20px;

    
  }
  
  .logo-container {
    //flex: 1;
    //text-align: left;
    //padding-left: 16px;

    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    max-height: 40px;
    max-width: 80px;
    margin-left: 20px;
  }
  

  .bottom-section {
    flex: 6;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //padding-top: 15px;
    //overflow: auto;
    height: calc(100% - 99px); /* Establece la altura de la sección inferior restando la altura de la sección superior */

   padding-bottom: 70px;
   overflow: auto;
   height: 50px; 
  }
  

  .prueba {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    //padding-top: 15px;
    overflow: auto;
    margin-bottom: 20px;
    //height: calc(100% - 99px); /* Establece la altura de la sección inferior restando la altura de la sección superior */

   //padding-bottom: 60px;
  }


  .profession-title {
    color: #666666;
  }
  

  .social-icons {
    position: absolute;
    top: 50px;
    right: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .social-icon {
    margin-bottom: 20px;
    color: #666666;
    font-size: 30px;
  }
  

  .subtitles-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .left-subtitle,
  .right-subtitle {
    color: #666666;
    padding: 0 30px;
  }
  
  .left-subtitle {
    text-align: left;
  }
  
  .right-subtitle {
    text-align: right;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .about-me-button,
  .treatments-button {
    width: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: tolowercase;
    font-weight: bold;

    //padding: 12px 24px; /* Ajusta el espacio interno según sea necesario */
  font-size: 15px;
  }
  
  .about-me-button {
    background-color: #FFFFFF;
    color: #83989A;
    border: 1px solid #83989A;
  }
  
  .treatments-button {
    background-color: #83989A;
    color: #FFFFFF;
    margin-left: 10px;
  }

  
  .floating-icon {
    position: fixed;
    bottom: 50px;
    right: 20px;
   // z-index: 9999;
   font-size: 65px;
  }
  
  .fotos{
    margin-top: 30px;
  }
  
  .antes-despues {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #666666;
  }
  