<ion-content [fullscreen]="true" class="ion-padding background-image">
  <div class="background-image"></div>

 
  <div class="top-section">
    <img src="../../../assets/Logo IWOIS.png" alt="Logo IWOIS" class="logo-img">
    <ion-icon src="../../assets/campana.svg" class="notifications-icon"  [routerLink]="['/emergente-inicio-sesion']" ></ion-icon>
  </div> 
 
  <div class="modal-container"> 
    <div class="modal-content">
      <!--button class="modal-button primary-button">Mis pacientes</button>
      <button class="modal-button" style="color: #666666;">Mis tratamientos</button>
      <button class="modal-button" style="color: #666666;">Asignar consejos</button>
      <button class="modal-button" style="margin-bottom: 60px; color: #666666;">Enviar difusion</button-->

        <div class="modal-button primary-button">
          <app-button [content]="'Mis pacientes'" [color]="''" [position]="'center'" [redirect]="'/'"></app-button>
        </div>
  
        <div class="modal-button">
          <app-button [content]="'Mis tratamientos'" 
          [backgroundColor]="'#FFFFFF'" 
          [color]="'#707070'" [position]="'center'" [redirect]="'/busqueda-arr'"></app-button>
        </div>

        <div class="modal-button">
          <app-button [content]="'Asignar consejos'" 
          [backgroundColor]="'#FFFFFF'" 
          [color]="'#707070'" [position]="'center'" [redirect]="'/busqueda-arr'"></app-button>
        </div>

        <div class="modal-button">
          <app-button [content]="'Enviar difusion'" 
          [backgroundColor]="'#FFFFFF'" 
          [color]="'#707070'" [position]="'center'" [redirect]="'/busqueda-arr'"></app-button>
        </div>
    </div>

   
  </div>
   

     
  <app-custom-tab-bar [tabs]="tabs" 
  [iconStyles]="iconStyles" 
  [router]="router" 
  [tabRoutes]="tabRoutes"
   ></app-custom-tab-bar>

</ion-content>



