<ion-content [fullscreen]="true">
  <div class="container"> 
    
      
    
        <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
        
        <h3 class="center"><strong>Título Tratamiento</strong></h3>
    <div class="bottom-section" style="max-height: 70vh;">
     
      <div class="button-container">
        <button class="pretratamiento-button">Pretratamiento</button>
        <button class="postratamiento-button">Postratamiento</button>
      </div>

     

      <app-iconos2
      [iconNames]="['A', 'B', 'C', 'D']"
      [routeA]="'/protocolo-asignado-paciente'"
      [routeB]="'/protocolo-asignado-paciente1'"
      [routeC]="'/protocolo-asignado-paciente2'"
      [routeD]="'/protocolo-asignado-paciente3'"
    ></app-iconos2>
   

      <h3 class="faq-text"><strong>Consejos del tratamiento</strong></h3>
      
      <p class="small-text">A través de notificaciones, tus pacientes recibirán <br> 
        estos consejos en los días que tu establezcas.</p>

        <app-cardy-prueba
        [cardText]="'Amplia la informacion Aqui '"
        [subHeading]="'Escribe un título'"
        [cardButtonContent]="'¿Qué dia se notifica?'"
        [redText]="'Campo Obligatorio *'"
      ></app-cardy-prueba>

        
        <div class="centered-image">
          <img src="../../../assets/añadir2.svg" alt="Imagen" />
        </div>
        
        <div class="boton">
          <app-button [content]="'Siguiente'" [color]="''" [position]="'center'" [redirect]="'/nuevo-protocolo-suplementacion'"></app-button>
        </div>
    </div>


    
  </div>

  <app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
  
</ion-content>






