<ion-content [fullscreen]="true"> 
  
  <div class="container">
    <div class="background-color">

      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
     
      <div class="bottom-section-1">
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <div class="text-content" >
          <h4 class="custom-heading"><strong>Productos y servicios</strong></h4>
        </div>
 
        <ion-accordion value="first" [routerLink]="['/tratamiento3.5']">
          <ion-item slot="header" color="light">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../assets/enfermaaa.png" />
            </ion-thumbnail>
            <ion-label>
             <h6>Dra Usuario Nytelweb</h6> 
             <p style="color: #83989A;">Medico estetico</p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
        

        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../assets/medico1.png" />
            </ion-thumbnail>
            <ion-label>
             <h6>Dr Usuario Nytelweb</h6> 
             <p style="color: #83989A;">Ginecologo</p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
  
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../assets/medico2.png" />
            </ion-thumbnail>
            <ion-label>
             <h6>Dr Usuario Nytelweb</h6> 
             <p style="color: #83989A;">Odontolo</p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
        
      </div> 
    </div>
   
</div>
<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
 
</ion-content>


