  .bottom-section-1 {
   
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    text-align: left;
    
    opacity: 100%;
    flex: 1;
    //height: 80vh;
    padding-bottom: 80px;
  }
   
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .fullscreen-image {
    width: 100%;
    //max-width: 100vw;
  }

  .container {
    height: 100vh;
  }
  ion-content {
    height: 100vh;
  }

  .camera-icon {
    font-size: 30px;
    color: #83989A;
    margin-right: 20px;
    background-color:#F6F0EC;
    border-radius: 50%;
   
    padding: 10px;
    
  }
  
  .antes-despues-text {
    font-size: 20px;
    color: #666666;;
    margin-right: 10px;
    text-align: left;
   
  }
   
  .camera-outline-icon,
  .location-icon {
    font-size: 20px;
    color: #83989A;
    margin-right: 10px;
  }

  .location-icon{
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid black;
    padding: 1.5px;
   font-size: 25px;
  }

  .camera-outline-icon{
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
   font-size: 20px;
  }
  
  .fotos{
    margin-top: 30px;
   
  }


  .image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-icons {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .right-icons {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  
  
  