<ion-content> 
  

  <div class="modal-container">
    
    <div class="modal-content">
      <button class="close-button" [routerLink]="['/login-prof']">X</button>
      <p>En pocos minutos recibiras un sms con <br> las instrucciones para reestablecer tu
         <br> contraseña</p>
      <!--button class="continue-button" [routerLink]="['/login-prof']">Aceptar</button-->
      <div class="button-container">
        <app-button [content]="'Aceptar'" [color]="''" [position]="'center'" [redirect]="'/login-prof'"></app-button>
      </div>
    </div>
    
  </div>

</ion-content>
