.card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajusta el margen superior según lo necesites */
    width: 100%;
    width: 290px;
    border-radius: 30px;
  } 
  
  .card {
    width: 100%; /* Ajusta el ancho de la card según lo necesites */
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    border: 1px solid #e6e6e6;
    overflow: hidden;
  }
  
  .card-content {
    margin-bottom: 20px;
  }

  .sub-heading {
    font-size: 18px;
    color: #666666;
    margin-top: 35px;
    //margin-bottom: 5px;
  }
  
 
  
  .card-text {
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .card-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #83989A;
    color: #ffffff;
    border: none;
    border-radius: 8px 0 0 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
  }


  .card-button img {
    margin-right: 10px;
    width: 20px; /* Ajusta el tamaño de la imagen según lo necesites */
    height: 20px; /* Ajusta el tamaño de la imagen según lo necesites */
  }
  
  .save-text {
   // position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    color: #666666;
    text-decoration: underline;
  }
  
 

  /* Resto de tus estilos aquí */

.small-icon {
    font-size: 18px; /* Tamaño de los iconos pequeños */
  margin-right: 10px;
  }
  
  .icon-container {
    display: flex;
    justify-content: flex-end; /* Alinea los iconos a la derecha */
    //margin-top: 5px;



  }
  
  .icon-container {
    display: flex;
    align-items: center;
    margin-right: 5px; 
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 10px;
  }


  .save-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
    margin-top: 20px;
    padding: 5px 10px;
    text-decoration: underline;

  }
  /* Resto de tus estilos aquí */
  
  /* Resto de tus estilos aquí */

.small-button {
  background-color: white;
  color: #666666;
  border-radius: 20px;
  border: 1px solid #666666;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.small-button:hover {
  background-color: #f0f0f0;
}
