swiper-container{
    height:100% ;
    width: 100%;
}

swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide-background {
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBE8E4;
    width: 100%;
    color: #F6F0ECC2;


    //background-color: #83989A;
   // height: 100%;
    //display: flex;
    flex-direction: column;
   // justify-content: center;
    //align-items: center;
  }
  
  .top-left-icons {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  
  .top-right-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
  }
  

  
  .top-left-icons ion-icon,
.top-right-icons ion-icon
 {
  font-size: 30px;
  color: #83989A;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  justify-content: flex-start; /* Actualizado */
  height: 100%; 
  margin-top: 30%;
}

.slide-heading {
  color: #83989A;
  font-size: 24px;
  margin-top: 20px;
  //margin-bottom: auto;
  
}

.slide-divider {
  width: 60%;
  border: none;
  border-top: 2px solid #83989A;
  margin: 10px 0;
}
.vertical-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: left;
  color: #666666;
}

.vertical-texts p {
  color: #666666;
  margin: 5px;
  margin-top: 20px;
}


.bottom-left-image {
  position: absolute;
  bottom: -80px;
  left: -80px;
  width: 300px; /* Ajusta el tamaño según sea necesario */
  height: 300px; /* Ajusta el tamaño según sea necesario */
 
}

.diagonal-image {
  position: absolute;
  bottom: 20%;
  left: 50%;
 // transform: translateY(10%) translateX(30%);
}

.slide-container {
  height: 100%;
  width: 100%;
  position: relative; /* Añade esta propiedad para establecer un contexto de posicionamiento relativo */
}



.custom-tab-bar{
  display: flex;
  justify-content: space-between;
  padding: 5px;

  background-color: #ffffff;
 
 border-top-left-radius: 25%;
 border-top-right-radius: 25%;

 overflow: hidden;
 
}

ion-icon{
  font-size: 30px;
}


ion-tab-button {
  height: 40px; /* Ajusta la altura de las pestañas de las esquinas */
 
}



ion-tab-button.elevated-tab {
  height: 60px; /* Ajusta la altura de la pestaña del centro */
  transform: translateY(-10px); /* Ajusta este valor según tus necesidades */
  background-color: #F6F0EC;
  border-radius: 80px;
  padding-top: 5px;


  position: relative;
  z-index: 1;

  
  overflow: visible;
}

.custom-tab-bar .elevated-tab {
  position: relative;
  top: -10px; /* Ajusta este valor negativo según tus necesidades */
  z-index: 1; 
}







