<ion-content>
  <div class="container">
    <div class="top-section">
      <div class="background-image">
        <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
        
        <div class="top-overlay">
          

          <div class="text-container">
            <h2 class="title">Criolipolisis</h2>
            <p class="description">Es un tratamiento que desencadena reacciones metabólicas y bioquímicas en el organismo favoreciendo la eliminación de grasa a través de la aplicación de frío controlado provocando la muerte celular</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="bottom-section">
      <h5 class="profession-title" [routerLink]="['/login']">Encuentra tu profesional de la salud</h5>
      <div class="map-container">
        <img src="../../../assets/mapa5.png" alt="Mapa" class="map-image">
        <!--div class="icon-container">
          <ion-icon name="location-outline"></ion-icon>
          <ion-icon name="refresh-circle-outline"></ion-icon>
        </div--> 
      <!--div class="center-marker">
  <ion-button (click)="presentPopover($event)"></ion-button>
<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-accordion value="first">
        <ion-item slot="header" color="light" >
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/enfermaaa.png" />
          </ion-thumbnail>
          <ion-label>
           <h6>Dra Usuario Nytelweb</h6> 
           <p style="color: #83989A;">Medico estetico</p>
           <p style="color: #83989A;">+34 0000000</p>
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
    </ion-content>
  </ng-template>
</ion-popover>

  <img src="../../../assets/ubi.png" alt="Foto" class="location-photo">
</div-->

      </div>

       

      <!--div class="range-slider-container">
        <input type="range" min="5km" max="500km" value="50" class="range-slider">
      </div-->
      <ion-item>
        
        <ion-range label-placement="start" mode="ios">
          <div slot="label"></div>
        </ion-range>
        
      </ion-item>

      
      
    </div>
  </div>

  <app-custom-tab-bar [tabs]="tabs" 
  [iconStyles]="iconStyles" 
  [router]="router" 
  [tabRoutes]="tabRoutes"
   ></app-custom-tab-bar>
</ion-content>



