<ion-content>
  <swiper-container
  #swiper (slideChange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination]="true">
 
  <swiper-slide class="custom-slide">
    <div class="container">
      <div class="background-color">
        <div class="top-section-1">
          <div class="centered-content">
            <img src="../../../assets/Logo IWOIS.png" alt="Logo" style="height: 40px; width: 110px; margin-top: 10%;">
            <div class="text-content" >
              <h5 style="text-align: left;">Registrate</h5>
            </div>
            <p class="color">A partir de este momento, tu usuario <br> 
              será tu número de teléfono.</p>
             
             

              <div class="input-group">
                <input class="rounded-input-small" type="text" placeholder="+34">
                <input class="rounded-input-large" type="text" placeholder="Teléfono">
              </div>


          </div>
        </div>
        <div class="bottom-section-1">
          <div class="location-content">
            
            <ion-button class="login-1" shape="round" expand="full">Enviar SMS</ion-button>
          </div>
        </div>
      </div>
  
  </div>
  </swiper-slide> 



  <swiper-slide class="custom-slide slide3">
    <div class="container">
      <div class="background-color">
        <div class="top-section-1">
          <div class="centered-content">
            <img src="../../../assets/Logo IWOIS.png" alt="Logo" style="height: 40px; width: 110px; margin-top: 10%;">
            <div class="text-content" >
              <h5 style="text-align: left;">Verificacion</h5>
            </div>
            <p class="color">Te llegará un código de verificación por <br> SMS, introdúcelo aquí: <br></p>
            <div class="input-group-1">
              <ion-input class="rounded-input-small-1" label-placement="floating" fill="outline"></ion-input>
              <ion-input class="rounded-input-small-1" label-placement="floating" fill="outline"></ion-input>
              <ion-input class="rounded-input-small-1" label-placement="floating" fill="outline"></ion-input>
              <ion-input class="rounded-input-small-1" label-placement="floating" fill="outline"></ion-input>
            </div>
          </div>
        </div>
        <div class="bottom-section-1">
          <div class="location-content">
            
            <ion-button class="login-1" shape="round" expand="full">Confirmar</ion-button>
          </div>
        </div>
      </div>
  
  </div>
  </swiper-slide>




  <swiper-slide class="hoja-4">
    <div class="containerss">
      <div class="div-superior"> 
        <div class="circulo">
          <ion-icon class="img" name="camera"></ion-icon>
        </div>
        <div class="texto" style="text-align: left;">
          <h3>Datos personales</h3>
        </div>
        <div class="inputs">
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="div-inferior">
        <ion-button class="login" shape="round" expand="full" style="margin-top: 90%;">Continuar</ion-button>
      </div>
    </div>
  </swiper-slide>



  <swiper-slide class="hoja-5">
    <div class="containerss">
      <div class="div-superior">
        <div class="circulo-5">
          <img src="../../../assets/candado.png" alt="Imagen">
        </div>
        <div class="texto-5" style="text-align: left;">
          <h3>Contacto</h3>
        </div>
        <div class="inputs">
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="div-inferior">
        <ion-button class="login" shape="round" expand="full" style="margin-top: 90%;">Continuar</ion-button>
      </div>
    </div>
  </swiper-slide>




  <swiper-slide class="hoja-4">
    <div class="containerss">
      <div class="div-superior"> 
        <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img" >
       
        <div class="texto" style="text-align: center;">
          <h2>¿Cuál es tu profesion?</h2>
        </div>
        <div class="inputs" style="width: 80%;">
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label position="floating">Profesion</ion-label>
            <ion-select  label-placement="stacked" interface="popover" style="border-radius: 20px;">
              <ion-select-option value="apple">Traumatologo</ion-select-option>
              <ion-select-option value="banana">Medico Estetico</ion-select-option>
              <ion-select-option value="orange">Ginecologo</ion-select-option>
              <ion-select-option value="orange">Cirujano</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label position="floating">Especialidad</ion-label>
            <ion-select  label-placement="stacked" interface="popover" style="border-radius: 20px;">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

    
      </div>
      <div class="div-inferior">
        <ion-button class="login" shape="round" expand="full" style="margin-top: 90%;">Continuar</ion-button>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide class="hoja-4">
    <div class="containerss">
      <div class="div-superior"> 
        <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img" >
       
        <div class="texto" style="text-align: center;">
          <h2>Numero de colegiado</h2>
        </div>
        <div class="inputs" style="width: 80%;">
          <ion-item>
            <ion-label position="floating" style="margin-left: 20px;">0000000000</ion-label>
           <ion-input></ion-input>
          </ion-item>
         
        </div>

    
      </div>
      <div class="div-inferior">
        <ion-button class="login" shape="round" expand="full" style="margin-top: 90%;">Continuar</ion-button>
      </div>
    </div>
  </swiper-slide>


  <swiper-slide class="custom-slide">
    <div class="container">
      <div class="background-color">
        <div class="top-section-1" style="height: 65%;">
         
          <div class="centered-content">
            <img src="../../../assets/Logo IWOIS.png" alt="Logo" style="height: 40px; width: 110px; margin-top: 10%;">
            <div class="texto" style="text-align: center; margin-left: 50px;">
              <h2>¿Como contactar contigo?</h2>
            </div>
            <p class="color" style="text-align: center;">Tus pacientes podran contactarte a<br> 
              traves de:</p>
             
             <h6 style="text-align: left;">Telefono de tu consulta</h6>

              <div class="input-group">
                <input class="rounded-input-small" type="text" placeholder="+34">
                <input class="rounded-input-large" type="text" placeholder="Teléfono">
              </div>

              <h6 style="text-align: left;">Whatsapp</h6>

              <div class="input-group">
                <input class="rounded-input-small" type="text" placeholder="+34">
                <input class="rounded-input-large" type="text" placeholder="Teléfono">
              </div>
              


          </div>
        </div>
        <div class="bottom-section-1">
          <div class="location-content">
            
            <ion-button class="login-1" shape="round" expand="full"  style="margin-bottom: 10px;">Continuar</ion-button>
          </div>
        </div>
      </div>
  
  </div>
  </swiper-slide> 



    <swiper-slide>
       <div class="container">
        <div class="background-color">
          <div class="top-section">
            <div class="centered-content">
              <img src="../../../assets/mundo123.png" alt="Imagen">
              <div class="texto" >
                <h1 style="text-align: left;">¿Dónde está tu consulta?</h1>
              </div>
             
              <ion-item  class="borde">
      
                <ion-input placeholder="Direccion" ></ion-input>
              </ion-item>
            </div>
          </div>
          <div class="bottom-section">
            <div class="ubicacion">
              <span>Utilizar mi ubicación actual</span>
              <ion-icon name="location"></ion-icon>
              
            </div>
            <div class="direccion">
              Utilizaremos esta dirección para que los <br>
               pacientes te localicen con facilidad.
            </div>

            <button class="boton">Continuar</button>
            
          </div>
        </div>
    
    </div>
  </swiper-slide>


  <swiper-slide class="hoja-4">
    <div class="containerss">
      <div class="div-superior"> 
        <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img" >
       
        <div class="texto" style="text-align: center; margin-left: 80px;">
          <h2>¿Tienes pagina web?</h2>
        </div>
        <div class="inputs" style="width: 80%; color: #8F8F8F;">
          <ion-item>
            <ion-label position="floating" style="margin-left: 20px;">Rellena este campo con tu web</ion-label>
           <ion-input></ion-input>
          </ion-item>
         
        </div>

    
      </div>
      <div class="div-inferior">
        <ion-button class="login" shape="round" expand="full" style="margin-top: 90%;">Continuar</ion-button>
      </div>
    </div>
  </swiper-slide>


  <swiper-slide class="hoja-4">
    <div class="containerss">
      <div class="div-superior"> 
        <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-imagen" >
       
        <div class="textonic" style="text-align: center;">
          <h2>¿Tienes redes sociales?</h2>
        </div>
        <div class="direccion">
          Podrás activar o desactivar está opción <br>
           desde tu perfil.
        </div>
       
        <div class="inp">
          <ion-item>
            <ion-icon name="logo-twitter" slot="start"></ion-icon>
            <ion-label position="floating">Nombre de Usuario</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-instagram" slot="start"></ion-icon>
            <ion-label position="floating">Nombre de Usuario</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-facebook" slot="start"></ion-icon>
            <ion-label position="floating">Nombre de Usuario</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
    
      </div>
      <div class="div-inferior">
        <ion-button class="login" shape="round" expand="full" style="margin-top: 70%;">Continuar</ion-button>
      </div>
    </div>
  </swiper-slide>


  <swiper-slide class="hoja-7">
    <div class="contain-7">
      <div class="div-superior-7" style="height: 70%;">
        <div class="circulo-5">
          <img src="../../../assets/estrellas.png" alt="Imagen">
        </div>
        <div class="texto-7" style="text-align: center;">
          <h5>Haz leido y aceptas la <br> politica de privacidad?</h5>

          <p style="text-align: left; margin-bottom: 5px; padding: 15px;">
            El objetivo de nuestra Política de Privacidad <br> es informarte sobre qué datos recogemos, <br>
             por qué los recogemos y cómo puedes <br> actualizarlos, gestionarlos, exportarlos y <br> eliminarlos.
          </p>
          <a class="ruta" href="">Politica de Privacidad</a>
        </div>
        <div class="div-inferior-7">
          <ion-button class="login" shape="round" expand="full" style="margin-top: 70%;">Continuar</ion-button>
          
        </div>
      </div>
    </div>
    </swiper-slide>

  </swiper-container>