ion-card {
    width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  }
  
  .save-button {
    width: 100%;
    text-align: center;
  }
  
  /* Resto de los estilos... */
  .image-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .row-text {
    color: #707070;
    margin-bottom: 5px;
    margin-top: 30px;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
  }
  
  .icon {
    font-size: 24px;
    color: #666666;
    margin-bottom: 5px;
  }
  
  .image {
    width: 100px;
    height: 100%;
    border-radius: 4px;
  }
  
  .save-text {
    position: absolute;
    bottom: 1px;
    right: 15px;
    color: #666666;
    text-decoration: underline;
    font-size: 14px;
  }
  
  .card-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    color: #83989A;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: left;
    margin-bottom: 30px;
  }
  
  
  
  
  
  
  
  
  
  /* Resto de los estilos... */
  .image-row {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente el contenido de la fila */
    margin-bottom: 20px;
    align-items: center; 
  }
  
  .row-text {
    color: #707070;
    margin-bottom: 5px;
    margin-top: 25px; /* Ajusta el margen superior */
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    
  }
  
  .icon {
    font-size: 40px;
    color: #666666;
    margin-left: 5px; /* Ajusta el margen entre la imagen y el icono */
    color: #83989A;
    align-self: center;
    justify-content: center;
    align-items: center;
  
    align-self: center; /* Alinea el icono verticalmente a la mitad de la card */
    //margin-top: 20%; 
  }
  
  .image {
    width: 100px;
    height: 100%;
    border-radius: 4px;
  }
  


  /* Resto de los estilos... */
.top-images,
.bottom-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.bottom-images .icon {
  margin-left: 5px; /* Ajusta el margen entre la imagen y el icono */
  color: #83989A;
}

/* Resto de los estilos... */