<ion-content [fullscreen]="true">
   
  <div class="container">
    <div class="background-color">

      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
    
      <div class="bottom-section-1">
        <div class="text-content" >
          <h3 class="custom-heading"><strong>Seleccionar pacientes</strong></h3>
        </div>
        <ion-searchbar
        placeholder="Nombre / telefono"
        mode="md"
        class="custom">
      </ion-searchbar>
 
      <div class="boton-container">
        <ion-button class="custom-button" color="custom-color">Nuevo paciente</ion-button>
      </div>
    

        <ion-item  class="ion-item" >
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/con1.png" />
          </ion-avatar> 
        
          <ion-label class="ion-align-items-center ion-justify-content-between">
            <div>
              <h6>Usuario Nytelweb</h6> 
              <p style="color: #83989A;">+34 00000000</p>
            </div>
          </ion-label>
          
          <ion-radio slot="end" ></ion-radio>

        </ion-item>



        <ion-item  class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/con1.png" />
          </ion-avatar>

          <ion-label>
            <h6>Usuario Nytelweb</h6> 
            <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
          <ion-radio slot="end" ></ion-radio>
        </ion-item>

        <ion-item  class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/con1.png" />
          </ion-avatar>

          <ion-label>
            <h6>Usuario Nytelweb</h6> 
            <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
          <ion-radio slot="end" ></ion-radio>
        </ion-item>

        <ion-item  class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/con1.png" />
          </ion-avatar>

          <ion-label>
            <h6>Usuario Nytelweb</h6> 
            <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
          <ion-radio slot="end" ></ion-radio>
        </ion-item>

        <ion-item  class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/camarita.svg" />
          </ion-avatar>

          <ion-label>
            <h6>Usuario Nytelweb</h6> 
            <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
          <ion-radio slot="end"  checked></ion-radio>
        </ion-item>

        

        <div class="button-container">
          <app-button [content]="'Seleccionar'" [color]="''" [position]="'center'" [redirect]="'/welcome'"></app-button>
        </div>

      </div>
    </div> 
 
</div>
<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
</ion-content>

