.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.rounded-input {
    --border-radius: 15px;
}

ion-button.login{
    --background: #83989A;
    --color: #fff;
  }
  
  
  
  
  