.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    opacity: 80%; 
}

.rounded-input {
    --border-radius: 15px;
    --background:#FFFFFF;
    --color:#8F8F8F;
    opacity: 100%;
}

ion-button.login{
    --background: #83989A;
    --color: #fff;
    --opacity: 100%;
  }

  .register-text {
    position: fixed;
    bottom: 25%;
    left: 0;
    right: 0;
    text-align: center;
  }

 
  ion-content {
    --background: url('../../../assets/foto.png') no-repeat center center fixed;
    opacity: 50%;
    background-color: #F6F0EC;
    --background-repeat: no-repeat;
    --background-position: center center;
    --background-size: 100%;
    --ion-safe-area-bottom: 0;
    

  }
   
  
  .with-icon {
    position: relative;
  }
  
  .with-icon ion-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  p {
    color: #222121;
    opacity: 100%;
  
  }

  .talla{
    margin-top: 200px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 80%; 
    margin-left: 10%; 
    height: 40%;
  }
  
  
  
  