

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/doctora.png);
    background-size: 100% 100%;
    background-position: center;
    backdrop-filter: blur(10px); 
  }


.top-left-icons {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  
  .top-right-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
  }
  
  .centered-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .top-left-icons ion-icon,
.top-right-icons ion-icon
 {
  font-size: 40px;
  color: aliceblue;
}

.centered-icon ion-icon{
    font-size: 80px;
    color: aliceblue;
}