<ion-content [fullscreen]="true">
   
  <div class="container">
    <div class="background-color">
      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>

      <div class="bottom-section-1">
        <ion-searchbar placeholder="+34 000000000"></ion-searchbar>
       

        <ion-item class="centered-item" >
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/90.png" />
          </ion-thumbnail>
          <ion-label>
           <h6>Usuario Nytelweb</h6>  
           <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
          <div class="ion-padding" slot="content">First Content</div>
          <ion-icon slot="end" name="add-circle-outline"  [routerLink]="['/lista-pacientes-con']" class="icono"></ion-icon>
        </ion-item>

       <!--img src="../../../assets/bpacientes.png" alt="" -->
        
      </div>
    </div>
    <div class="keyboard-container">
      <img src="../../../assets/Keyboard.png" alt="Teclado" class="keyboard-img">
    </div>
</div>
  
</ion-content>


