ion-content{
    --background: white;
    opacity: 90%;
    position: relative;
  }

  .background-image {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/fondoAsignar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    z-index: -1; /* Coloca la imagen de fondo detrás del contenido */
    filter: brightness(0.3);
    backdrop-filter: blur(50px);
  }




.upper-div {
   
    height: 12%; /* Ajusta la altura según tus necesidades */
 
  }
  
  .lower-div {
    background-color: #FFFFFF;
    height: 88%; /* Ajusta la altura según tus necesidades */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .country-list {
    width: 80%;
    margin-top: 20px;
  }
  
  ion-item {
    text-align: center;
    padding: 5px;
  }
  
  ion-searchbar.custom {
    --border-radius: 0px;
    text-align: left;
    border-bottom: 1px solid;
    --box-shadow: none;
    width: 90%;
    display: block;
    margin: auto;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
    margin-top: 5px;
    position: relative;
  }

  .search-container {
    display: flex;
    align-items: center;
  }
  
  .custom-searchbar {
    flex: 1;
    //margin-right: 5px; /* Espacio entre la searchbar y el icono */
  }
  
  .custom-icon {
    width: 24px; /* Ajusta el ancho según tu icono */
    height: 24px; /* Ajusta la altura según tu icono */
    margin-right: 40px;
  }
  
.button-container {
   
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    border: 1px solid #F6F0EC; /* Borde sombreado */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
   
   
  }


  .country-list ion-label {
    color: #666666;
    
  }
  
  ion-item {
    font-size: 15px;
  }