<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="background-color">
      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
       
      <div class="bottom-section-1">
        <div class="text-content" >
          <h5 class="custom-heading"><strong>Editar perfil</strong></h5>
        </div>
        <div class="inputs">
          <ion-item>
            <ion-icon src="../../../assets/hombrecito.svg" slot="start"></ion-icon>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon src="../../../assets/hombrecito.svg" slot="start"></ion-icon>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon src="../../../assets/calendario.svg" slot="start"></ion-icon>
            <ion-label position="floating">dd/mm/aaa</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon src="../../../assets/sobre.svg" slot="start"></ion-icon>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon src="../../../assets/tel.svg" slot="start"></ion-icon>
            <ion-label position="floating">Telefono de registro</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon src="../../../assets/world.svg" slot="start"></ion-icon>
            <ion-label position="floating">Pais</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon src="../../../assets/prov.svg" slot="start"></ion-icon>
            <ion-label position="floating">Provincia</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon src="../../../assets/prov.svg" slot="start"></ion-icon>
            <ion-label position="floating">Ciudad</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
       
     
        <!--div class="location-content">
          
          <ion-button class="login" shape="round" expand="full" >Guardar cambios</ion-button>
        </div-->

        <div class="button-container">
          <app-button [content]="'Guardar cambios'" [color]="''" [position]="'center'" [redirect]="'/perfil'"></app-button>
        </div>
        
      </div>
    </div>
    
</div>

</ion-content>

