/* Resto de tus estilos aquí */

.icon-container {
    display: flex;
    align-items: center;
    margin-right: 5px; 
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  /* Resto de tus estilos aquí */

.save-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
    margin-top: 20px;
    padding: 5px 10px;
    text-decoration: underline;
  

    
  }



  .save-text {
   // position: absolute;
   // right: 15px;
    color: #666666;
    text-decoration: underline;
    font-size: 14px;
  }
  
  
  .image {
    width: calc(33.33% - 10px);
    height: 100px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 8px;
   
  }



  ion-card {
  
    width: 300px;
    height: 100%;
   
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
   
    text-align: left;
  }
  
  .card-text {
    /* Establece el color del texto */
    color: #666666;
    /* Agrega márgenes para separar el texto del borde de la card */
    margin: 5px;
    font-size: 18px;
  }
  
  .images-container {
    
    //display: flex;
    //justify-content: center;
    //flex-wrap: wrap;
    //justify-content: flex-start;
    //white-space: nowrap;
    //display: inline-flex;



    display: flex;
    align-items: center;
    overflow-x: auto;
    
  }
  
  .image {
    /* Espaciado entre las imágenes */
    margin: 5px;
   // width: 80px;
    //height: 80px;
    //border: 1px solid black;
   
  }
  
  img {
    /* Ajusta el tamaño de las imágenes */
    width: 100px;
    height: 100px;
    /* Estilo de borde y esquinas redondeadas para las imágenes */
    border-radius: 4px;
  }
  
  /* Resto de tus estilos aquí */

.images-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  //padding: 5px;
}

.image-wrapper {
  display: flex;
  align-items: center;
  margin-right: 5px;

  display: inline-block;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

