<ion-card>
  <ion-card-content>
    <div *ngIf="text" class="card-text" [style.font-size]="textSize"><strong>{{ text }}</strong></div>
    <ion-scroll scrollX style="white-space: nowrap;  overflow: auto;">
      <div class="images-container">
        <img *ngFor="let image of images" [src]="image" alt="Imagen" class="image">
      </div>
    </ion-scroll>
    <div class="save-container">
      <div class="save-text">Guardar</div>
      <div class="icon-container">
        <ion-icon src="../../../assets/edit.svg" style="font-size: 24px;"></ion-icon>
        <ion-icon src="../../../assets/close-outline.svg" style="font-size: 24px; margin-left: 10px;"></ion-icon>
      </div>
     
    </div>
  </ion-card-content> 
</ion-card>
