

<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="background-color">
      <div class="top-section-1">
        <ion-icon name="chevron-back" class="back-icon"></ion-icon>
        <div class="centered-content">
          <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img">
     
        </div>
        <ion-icon name="notifications-outline" [routerLink]="['/home']" class="notifications-icon" ></ion-icon>
      </div>
      <div class="bottom-section-1">

        <div class="text-content" >
          <h4 class="custom-heading"><strong>Mis tratamientos</strong></h4>
          
          
        </div>
        <div class="textos">
          <h6 class="user-text">Usuario NytelWeb,<br> aún no tienes protocolos asignados</h6>
          <hr class="line">
          <p class="additional-text">Puedes buscar tratamientos y los <br>
            profesionales que lo realizan <br> desde aquí</p>
        </div>
     
        <div class="location-content">
          
          <ion-button class="login" shape="round" expand="full" >Buscar especialista</ion-button>
        </div>
        
      </div>
    </div>
    
</div>

<app-custom-tab-bar [tabs]="tabs"></app-custom-tab-bar>
</ion-content>

<!--ion-tabs >
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline" [routerLink]="['/emergente-inicio-sesion']"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="notification" class="elevated-tab">
      <ion-icon name="home-outline" [routerLink]="['/home']"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline" [routerLink]="['/emergente-inicio-sesion']"></ion-icon>
    </ion-tab-button>
   
  </ion-tab-bar>
</ion-tabs-->