.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  .top-section {
    flex: 4; 
    position: relative;
  }


  

 

  .bottom-section {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    overflow-y: auto;

    
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .pretratamiento-button {
    background-color: #83989A;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
  }
  
  .postratamiento-button {
    background-color: #00000029;
    color: #83989A;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 20px;
  }
  
 




  
  /* Agrega este estilo en tu archivo de estilos CSS */

.faq-text {
  text-align: left;
  color: #666666;
  font-size: 20px;
  margin-top: 20px;
  align-self: flex-start;
  margin-left: 60px;
}

.center{
    text-align: center;
    color: #666666;
  font-size: 22px;
  margin-top: 20px;
}


.small-card-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.small-text {
    color: #8F8F8F;
    font-size: 14px;
    text-align: center;
  }


  .floating-button-container {
    border: 1px solid #666666; /* Borde sombreado */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 999;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
  }
  

  .boton {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }



ion-card {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta el margen superior según lo necesites */
  width: 100%;
  width: 330px;
  border-radius: 30px;
  
}



  .text-container {
    display: flex;
    align-items: center;
  }
  
  .left-text {
  
    width: 60%; /* Ajusta el ancho del lado izquierdo */
    display: flex;
    flex-direction: column;
  }
  
  .text1 {
    font-size: 16px;
    color: #666666;
    margin-bottom: 5px;
   
  }
  
  .text2 {
    font-size: 14px;
    color: #666666;
    margin-bottom: 40px;
  }
  
  .right-image {
    flex: 1;
    text-align: right;

    width: 40%; /* Ajusta el ancho del lado derecho */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-left: 15px;
    margin-bottom: 25px;
   // padding-right: 20px; /* Ajusta el espaciado entre los textos y la imagen */
  }
  
  .right-image img {
    max-width: 100%;
    height: auto;
  }
  

 .save-text {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    color: #666666;
    text-decoration: underline;
  }
  
  .small-card-container {
    margin-top: 2px;
    margin-bottom: 10px;
  }