<ion-content [fullscreen]="true">
  <div class="container"> 
    
      
    
        <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
        
        <h3 class="center"><strong>Título Tratamiento</strong></h3>
    <div class="bottom-section" style="max-height: 70vh;">
     
      <div class="button-container">
        <button class="pretratamiento-button">Pretratamiento</button>
        <button class="postratamiento-button">Postratamiento</button>
      </div>

     

      <app-iconos2
      [iconNames]="['A', 'B', 'C', 'D']"
      [routeA]="'/protocolo-asignado-paciente'"
      [routeB]="'/protocolo-asignado-paciente1'"
      [routeC]="'/protocolo-asignado-paciente2'"
      [routeD]="'/protocolo-asignado-paciente3'"
    ></app-iconos2>
   

      <h3 class="faq-text"><strong>Ejercicios</strong></h3>
      
      <p class="small-text">¿Este tratamiento requiere de ejercicios específicos <br> 
        para ayudar a tu paciente a alcanzar sus objetivos? <br> 
        Puedes subirlos aquí:</p>
        <div class="small-card-container">
        <ion-card>
          <ion-card-content>
            <div class="text-container">
              <div class="left-text">
                <p class="text1"><strong>Escribe un titulo</strong></p>
                <p class="text2">Breve descripción del <br> ejercicio</p>
              </div>
              <div class="right-image">
                <img src="../../../assets/add[1] (1).svg" alt="Imagen" />
              </div>
              
            </div>
            <p class="save-text">Guardar</p>
          </ion-card-content>
        </ion-card>
      </div>

        
        <div class="centered-image">
          <img src="../../../assets/añadir1.svg" alt="Imagen" />
        </div>
        
        <div class="boton">
          <app-button [content]="'Guardar todo'" [color]="''" [position]="'center'" [redirect]="'/lista-protocolos-con'"></app-button>
        </div>
    </div>


    
  </div>

  <app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
  
</ion-content>








