<ion-content>
  <div class="container">
        
    <div class="top-section">
      <div class="background-image">
        <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
        
        <div class="top-overlay">
          <div class="text-container">
            <h2 class="title">Criolipolisis</h2>
            <p class="description">Es un tratamiento que desencadena reacciones metabólicas y bioquímicas en el organismo favoreciendo la eliminación de grasa a través de la aplicación de frío controlado provocando la muerte celular</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="bottom-section">
      <!--h5 class="profession-title" [routerLink]="['/login']">Encuentra tu profesional de la salud</h5-->

      <div class="text-content" >
        <h5 class="custom">Encuentra a tu profesional de la salud</h5>
      </div>
      <!--div class="map-container">
        <img src="../../../assets/mapa5.png" alt="Mapa" class="map-image">
       
        
      </div-->
      <div class="map-container">
        <div id="map"></div>
      </div>
       

      <!--div class="range-slider-container" mode='ios'>
        <input type="range" min="5km" max="500km" value="50" class="range-slider">
      </div-->
      <ion-item>
        
        <ion-range label-placement="start" mode="ios">
          <div slot="label"></div>
        </ion-range>
        
      </ion-item>

      
      
    </div>
  </div>

  <app-custom-tab-bar [tabs]="tabs" 
  [iconStyles]="iconStyles" 
  [router]="router" 
  [tabRoutes]="tabRoutes"
   ></app-custom-tab-bar>
</ion-content>




