

<ion-content>

  <div class="container">
    <div class="background-color"> 
      <div class="top-section-1">
        <ion-icon name="chevron-back" class="back-icon"></ion-icon>
        <div class="centered-content"> 
          <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img" [routerLink]="['/']">
          
        </div>
        <ion-icon name="notifications-outline" [routerLink]="['/emergente-inicio-sesion']" class="notifications-icon" ></ion-icon>
      </div>
      <div class="bottom-section-1">
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <div class="text-content" >
          <h6 class="custom-heading"><strong>Seleccionar un tratamiento</strong></h6>
        </div>
         
        <!--div class="slider-container" style="margin-top: 20px;">
          <swiper-container 
          #swiper (slideChange)="swiperSlideChanged($event)"
          [loop]="true"
          [pagination]="true"
          [zoom]='true' 
          [slidesPerView]="3.1"> 
         
          
            <swiper-slide *ngFor="let image of images ">
              <div class="swiper-zoom-container">
                <img [src]="image" />
              </div>
             
            </swiper-slide>
           
        
          </swiper-container>
        </div-->  
<app-slider [images]="images" [slidesPerView]="'3.1'"></app-slider>
 
      
        <div class="text-content" >
          <h6 class="custom">Encuentra a tu profesional de la salud</h6>
        </div>
        <!--div class="mapa">
          <img src="../../../assets/maposo.png" alt="Imagen" class="mapa">
     
        </div-->

        <div class="map-container">
          <img src="../../../assets/mapa4.png" alt="Mapa" class="map-image">
          <!--div class="icon-container">
            <ion-icon name="location-sharp"></ion-icon>
            <ion-icon name="refresh-circle-outline"></ion-icon>
          </div--> 
        <!--div class="center-marker">
    <ion-icon name="location" ></ion-icon>
    <img src="../../../assets/ubi.png" alt="Foto" class="location-photo">
    <img src="../../../assets/ubi.png" alt="Foto" class="location-photo photo2">
    <img src="../../../assets/ubi.png" alt="Foto" class="location-photo photo3">
  </div-->
 
        </div>

      </div>
    </div>
    <ion-item>
      
      <ion-range label-placement="start" mode="ios">
        <div slot="label"></div>
      </ion-range>
      
    </ion-item> 
</div>

<app-custom-tab-bar></app-custom-tab-bar>
</ion-content>


<!--ion-tabs #tabs >
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"  [routerLink]="['/emergente-inicio-sesion']"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="notification" class="elevated-tab">
      <ion-icon name="home-outline" [routerLink]="['/home']"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline" [routerLink]="['/emergente-inicio-sesion']"></ion-icon>
    </ion-tab-button>
   
  </ion-tab-bar>
</ion-tabs-->