
  .bottom-section-1 {
   
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    text-align: left;
    
    opacity: 100%;
    flex: 1;
  }

  .custom-heading {
    text-align: left;
    margin-left: 5%;
    margin-top: 20px;
    color: #83989A;
  }

  .custom{
    text-align: center;
    color: #83989A;
  }

  .mapa{
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 20%;
    //margin-bottom: 80px;
  }

  

.map-image {
    width: 100%;
    
  }

.map-container {
    position: relative;
    
  }
  
  .icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
  }
  
  .icon-container ion-icon {
    font-size: 30px;
    margin-bottom: 5px;
    color: #83989A;
    background: #FFFFFF;
    border-radius: 50%;
  }
  
  .center-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .center-marker ion-icon {
    font-size: 40px;
    color: black;
  }
  
  .location-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    border: 2px solid #fff;
    position: absolute;
  }

  .photo2 {
    top: 10%;
    left: 25%;
  }
  
  .photo3 {
    top: 75%;
    left: 40%;
  }


  ion-item {
    margin-top: 25px;
    width: 90%;
    font-size: 10px;
    align-items: center;
    margin-left: 10px;
  }
   
  
  

  #map { height: 300px; }
  
  
  .map-container {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .text-content{
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  
  

  .range-labels {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
  }
  

  
  .label-top-left {
    top: 0;
    left: 0;
  }
  
  .label-top-right {
    top: -25px;
    right: 0;
  }
  
 
  