
<ion-content>

  <div class="container">
    <div class="background-color"> 
      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
 
      <div class="bottom-section-1">
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <div class="text-content" >
          <h6 class="custom-heading"><strong>Seleccionar un tratamiento</strong></h6>
        </div>
         
        
      <app-slider [images]="images" [slidesPerView]="'3.1'" [elementSize]="'130'"></app-slider>
 
      
        <div class="text-content" >
          <h5 class="custom">Encuentra a tu profesional de la salud</h5>
        </div>
        <!--div class="mapa">
          <img src="../../../assets/maposo.png" alt="Imagen" class="mapa">
     
        </div-->

        <!--div class="map-container">
          <img src="../../../assets/mapa4.png" alt="Mapa" class="map-image">
          <div class="icon-container">
            <ion-icon name="location-sharp"></ion-icon>
            <ion-icon name="refresh-circle-outline"></ion-icon>
          </div--> 
        <!--div class="center-marker">
    <ion-icon name="location" ></ion-icon>
    <img src="../../../assets/ubi.png" alt="Foto" class="location-photo">
    <img src="../../../assets/ubi.png" alt="Foto" class="location-photo photo2">
    <img src="../../../assets/ubi.png" alt="Foto" class="location-photo photo3">
  </div>
 
        </div-->

        <div class="map-container">
          <div id="map"></div>
        </div>

      </div>
    </div>
    <!--ion-item>
      
      <ion-range label-placement="start" mode="ios">
        <div slot="label"></div>
      </ion-range>
      
    </ion-item-->  

    <ion-item>
      <ion-range label-placement="start" mode="ios">
        <div class="range-labels">
          <div class="label-top-left">5</div>
          <div class="label-top-right">500</div>
         
        </div>
      </ion-range>
    </ion-item>
    
    
    
</div> 


<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>

</ion-content>
