<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="background-color">
      <div class="top-section-1">
        <div class="centered-content">
          <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img" [routerLink]="['/']">
          
        </div>
        <ion-icon name="notifications-outline" [routerLink]="['/home']" class="notifications-icon" ></ion-icon>
      </div>
      <div class="bottom-section-1">
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <div class="text-content" >
          <h3 class="notification-header"> <strong>Criolipolisis</strong></h3>
        </div>
        
        <div class="button-container">
          <button class="pretratamiento-button">Pretratamiento</button>
          <button class="postratamiento-button">Postratamiento</button>
        </div>
        <div class="icon-container">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <ion-icon name="person"></ion-icon>
          <ion-icon name="bandage"></ion-icon>
          <ion-icon name="barbell"></ion-icon>
        </div>
        <div class="text-content">
          <h5>¡Movimientos de salud!</h5>
          <p class="centered-text">Selecciona el entrenamiento que quieres hacer</p>
        </div>
       
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/01.png" />
          </ion-thumbnail>
          <ion-label>
            <h6>Preentrenamiento</h6>
            <p style="color: #666666;">Lorem ipsum dolor sit amed, sed 
            kjbkhgjhfj <br> ljkjghkg lhjhkghkhfcnbccljhjghac lahcah</p> 
             </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/02.png" />
          </ion-thumbnail>
          <ion-label>
           <h6>Entrenamiento Gluteo</h6> 
           <p style="color: #666666;">Lorem ipsum dolor sit amed, sed kjbkhgjhfj <br>
             ljkjghkg lhjhkghkhfcnbccljhjghac lahcah</p> 
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/02.png" />
          </ion-thumbnail>
          <ion-label>
           <h6>Entrenamiento Abdomen</h6> 
           <p style="color: #666666;">Lorem ipsum dolor sit amed, sed kjbkhgjhfj <br>
            ljkjghkg lhjhkghkhfcnbccljhjghac lahcah</p> 
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/02.png" />
          </ion-thumbnail>
          <ion-label>
           <h6>Entrenamiento Espalda</h6> 
           <p style="color: #666666;">Lorem ipsum dolor sit amed, sed kjbkhgjhfj <br>
            ljkjghkg lhjhkghkhfcnbccljhjghac lahcah</p> 
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/02.png" />
          </ion-thumbnail>
          <ion-label>
           <h6>Entrenamiento Espalda</h6> 
           <p style="color: #666666;">Lorem ipsum dolor sit amed, sed kjbkhgjhfj <br>
            ljkjghkg lhjhkghkhfcnbccljhjghac lahcah</p> 
          </ion-label>
        </ion-item>
 
       
        <div class="text-center">
          <p class="centered-text">Queremos que siempre estés bien <br>
            acompañad@. Site han surgido dudas y <br>
            necesitas ayuda, entra en contacto con <br>
            tu profesional de la salud a traves de <br>
            whatsapp
             </p>
          <ion-icon name="logo-whatsapp" class="whatsapp-icon"></ion-icon>
        </div>
      </div>
    </div>
  
</div>

<ion-tabs >
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"  [routerLink]="['/mis-tratamientos3']"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="notification" class="elevated-tab">
      <ion-icon name="home-outline"  [routerLink]="['/home']"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
   
  </ion-tab-bar>
</ion-tabs>
 
</ion-content>

