

<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="background-color">
      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>

      <div class="bottom-section-1">

        <div class="text-content" >
          <h3 class="custom-heading"><strong>Mis Pacientes</strong></h3>

          <p class="subtext">Aún no tienes pacientes registrados.</p>
          <p class="subtext">Busca a tus pacientes a través de su <br>
            <strong>número de teléfono.</strong> </p>
        </div>
       
        <!--div class="input-group">
          <input class="rounded-input-small" type="text" placeholder="+34">
          <input class="rounded-input-large" type="text" placeholder="Teléfono">
          
        </div-->
        


        <div class="inputs">
          <div class="input-container small-input">
            <ion-item>
           
              <ion-input>
                <ion-icon name="chevron-down" slot="start"></ion-icon>
                <ion-label >+34</ion-label>
              </ion-input>
            </ion-item>
          </div>
          <div class="input-container large-input">
            <ion-item>
              <ion-label position="floating">Telefono</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </div>
        </div>
        
     
        <div class="location-content">
          <app-button [content]="'Buscar'" [color]="''" [position]="'center'" [redirect]="'/busqueda-pacientes'"></app-button>
          <!--ion-button class="login" shape="round" expand="full" >Buscar</ion-button-->
        </div>


        
      </div>
    </div>
    
</div>
<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>

</ion-content>


