

<ion-content class="ion-padding background-image">
  <div class="background-image"></div>
  <div class="container">
    <ion-buttons slot="end">
      <ion-select placeholder="ES" interface="popover">
        <ion-select-option value="espanol">ES</ion-select-option>
        <ion-select-option value="english">EN</ion-select-option>
        <ion-select-option value="portuguese">PG</ion-select-option>
      </ion-select>
    </ion-buttons>
    <div class="logo-container">
      <ion-img
        src="../../../assets/Logo IWOIS.png"
        alt="Logo" style="height: 60px; width: 110px;"
      >
      </ion-img>
    </div>
    
     
    
  </div>
</ion-content>

