ion-content {
    position: relative;
   
  }
   
  .background-image {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/foto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #F6F0EC;
    opacity: 0.4;
    z-index: -1; /* Coloca la imagen de fondo detrás del contenido */
    backdrop-filter: blur(50px);  
    //filter: brightness(0.8);
   
  }
  
  ion-content.background-image{
    background: #F6F0EC;
    opacity: 80%;
 
  } 
  


  .container {
    position: relative;
  }

  ion-select {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  ion-buttons{
    position: relative;
    right: 5px;
    margin-left: 85%;
  }
  
  
  .logo-container {
      display: flex;
      justify-content: center;
      margin-top: 30%;
      opacity: 100%; 
      
  }


  .rounded-input {
    --border-radius: 20px;
    --background:#FFFFFF;
    --color:#8F8F8F;
    opacity: 100%;
}
  

ion-button.login{
    --background: #83989A;
    --color: #fff;
    --opacity: 100%;
    width: 70%;
    margin-left: 15%;
    text-transform: none;
    font-size: 15px;
  }
 
 p{
    color: #666666;
 }   
    
 a{
    color: #546E6E;
 }
    







 .inputs {
   // justify-content: center;
    //margin-left: 10%;
    //margin-right: 10%;
    --background:#FFFFFF;
    --color:#8F8F8F;
    opacity: 100%;
    margin-top: 40%; 
    display: flex; 
    flex-direction: column;
     align-items: center; 
     width: 80%; 
     margin-left: 10%; 
     height: 40%;
   
  }
  
  .inputs ion-item {
   
    margin-bottom: 5%;
    border-radius: 10px;
    color: #666666;
  }


  .contenido {
    text-align: center;
    align-items: center;
  }
    

  .ultimo{
    margin-top: 70px;
  }


  .cursiva {
    font-style: italic;
  }
  