ion-card-content {
    display: flex;
    align-items: center;
  }
  
  ion-label {
    flex: 1;
  }
  
 
  p {
    color: #666666;
  }

  h2{
    color: #666666;
    font-size: 18px;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .img-center {
    /* Estilos para la imagen (puedes ajustarlos según tus necesidades) */
    max-width: 100%;
    max-height: 100%;
  }
  
  .icon-center {
    /* Estilos para el icono (puedes ajustarlos según tus necesidades) */
    font-size: 24px;
    color: #666666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  