<div class="top-section">
  <div class="background-image">


    <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
    <div class="text-container">
      <h2 class="title">Criolipolisis</h2>
      <p class="description">Es un tratamiento que desencadena reacciones <br>
        metabólicas y bioquímicas en el organismo <br>
        favoreciendo la eliminación de grasa a través de <br>
        la aplicación de frío controlado provocando la <br>
        muerte celular</p>
    </div>

  </div>
</div>
