<ion-content [fullscreen]="true">
  <div class="background-image"></div>
  <div class="container">
    <div class="modal">
      <div class="modal-close">
        <ion-icon name="close" [routerLink]="['/notificaciones']"></ion-icon>
      </div>
      <div class="modal-content">
        <div class="modal-left">
          <div class="notification-icon">
            <ion-icon src="../../../assets/campana.svg"></ion-icon>
          </div>
        </div>
        <div class="modal-right">
          <div class="notification-time">
            9:05 AM
          </div>
          <div class="line-container">
            <hr class="modal-line">
          </div>
         
          <div class="notification-details">
            <p>Descuento del 20% en tu tratamiento <br>
               Hydrafacial  con la Dra. Nytelweb  <br>
              enseñando el código SOYIWOIS</p>
            <p>Pide cita ya por telefono o whatsapp! <br>  635567937</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
