
 
  <ion-content>
  
    <div class="background-image"></div> 
  
    <div class="modal-container">
      
      <div class="modal-content">
      
        <ion-icon class="close-button" src="../../../assets/over.svg" [routerLink]="['/lista-protocolos-con']"></ion-icon>
        <h3> <strong>¿Tienes algún <br> problema o duda?</strong></h3>
        <p class="contact-text">Contacta con nosotros a través del <br> e-mail info@iwois.com o mándanos <br> un whatsapp:</p>
       
        <div class="icon-container">
          <ion-icon src="../../../assets/whats.svg"></ion-icon>
        </div>
      </div> 
   
     
      
    </div>
   
  </ion-content>
  
  
  
  
 