.container {
    //min-width: 320px;
    max-width: 100%;
    //padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    //height: 100%;
    height: 100vh;

   
    
  }



.bottom-section {
    background-color: #FFFFFF;
    height: 100%;
    
  }

  .modal-line {
    border: none;
    border-top: 1px solid #666666;
    width: 50%;
    justify-content: flex-end;
    display: flex;
    margin-left: 50%;
    
    
  }

  .line-container {
    display: flex;
    justify-content: flex-end; /* Alineación a la derecha */

    display: flex;
    align-items: center;
  }



  .notification-header {
    color: #666666;
    text-align: left;
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 60px;
    opacity: 85%;
    font-size: 24px;
  }


 

  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .header-image {
    width: 150px; /* Ajusta el tamaño de la imagen según tus preferencias */
   height: 50px; /* Ajusta el tamaño de la imagen según tus preferencias */
   
  }
    
  ion-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Ajusta el margen inferior según tus preferencias */
    justify-content: space-between;

    --padding-start: 20px; /* Ajusta el padding izquierdo */
    --padding-end: 20px; /* Ajusta el padding derecho */
    --padding-top: 10px; /* Ajusta el padding superior */
    --padding-bottom: 10px; /* Ajusta el padding inferior */
     
  }



  h3 {
    margin: 0;
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 16px;
  } 
  

  .label-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
 
  .message-time {
    color: #666666;
    font-size: 14px; /* Ajusta el tamaño de la fuente según tus preferencias */
    //margin-left: 40px; /* Ajusta el margen izquierdo según tus preferencias */
    margin-left: auto;
    
  }
  
  .right-image {
    width: 10px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: 15px; /* Ajusta el tamaño de la imagen según tus preferencias */
    margin-left: auto; /* Alinea la imagen a la derecha */
    
  }
  
  
  ion-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.texto{
    color: #7D999A;
    font-size: 12px; 
}


ion-avatar {
    height: 50px;
    width: 50px;
}

  

.notification-header {
  display: flex; /* Usa Flexbox para alinear horizontalmente */
  align-items: center; /* Alinea verticalmente los elementos en el centro */
  color: #666666;
  margin-left: 15px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.notification-header hr {
  flex-grow: 1; /* Hace que la línea ocupe todo el espacio disponible horizontalmente */
  border: none;
  border-top: 1px solid #666666;
  margin-left: 15px; /* Espacio entre la línea y el texto */
}

.modal-line {
 color: #666666;

  
}









