<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="background-color"> 
      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
   
      <div class="bottom-section">
      <div class="cont">
        
        <!--div class="header-container">
          <h2 class="notification-header"> <strong>Mis mensajes</strong></h2>
          <img src="../../../assets/Línea 124.svg" alt="Imagen" class="header-image">
        </div-->
        <h5 class="notification-header"> <strong>Mis mensajes</strong>  <hr class="modal-line"> </h5>
        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/pac1.png" />
          </ion-avatar>
          <ion-label> 
            <h3><strong> Usuario Nytelweb </strong>  <span class="message-time">12:45</span></h3>
            <p class="texto">Lorem Ipsum </p> 
            <!--div class="left-content">
              <h3><strong> Usuario Nytelweb </strong>  </h3>
            </div>
            <div class="right-content">
              <p>9:05AM</p>
            </div-->
            
          </ion-label>
          <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/pac2.png" />
          </ion-avatar>
          <ion-label> 
            <h3><strong> Usuario Nytelweb 2</strong></h3>

            <p class="texto">Lorem Ipsum </p>
           
          </ion-label>
          <span class="message-time">16:07</span>
          <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/pac3.png" />
          </ion-avatar>
          <ion-label> 
            <h3><strong> Usuario Nytelweb 3</strong> <span class="message-time">10/03/23</span></h3>

            <p class="texto">Lorem Ipsum </p>
           
          </ion-label>
          
        </ion-item>
      </div> 
                        
        
        
      </div>
      </div>
    
</div>

<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
  
</ion-content>



