<ion-content class="ion-padding background-image">
  <div class="background-image"></div>
  <div class="container">
    <div class="logo logo-container">
      <ion-img
        src="../../../assets/Logo IWOIS.png" alt="Logo" 
      >
      </ion-img>
    </div>
    <div class="contenedor">

      <!--div class="button-container">
        <ion-button class="login" shape="round" expand="full" [routerLink]="['/home']">Usuario</ion-button>
        <ion-button class="botton" shape="round" expand="full" [routerLink]="['/home-profesional']"  >Profesional de la salud</ion-button>
      </div-->

     
    </div>

    <div class="button-container">
      <app-button [content]="'Usuario'" [color]="''" [position]="'center'" [redirect]="'/home'" [width]="'250px'"></app-button>
     
    </div>
    <div class="button-container">
      <app-button [content]="'Profesional de la salud'" 
      [backgroundColor]="'#FFFFFF'" 
      [color]="'#707070'" [position]="'center'" [redirect]="'/home'" [width]="'250px'"></app-button>
     
    </div>
  </div>
  
 
  
</ion-content>
