<ion-content class="ion-padding background-image">
  <div class="container">
    <div class="logo logo-container">
      <ion-img
        src="../../../assets/Logo IWOIS.png"
        alt="Logo" style="height: 60px; width: 110px;"
      >
      </ion-img>
    </div>
  </div>
  
  <div style="margin-top: 380px; display: flex; flex-direction: column; align-items: center; width: 80%; margin-left: 10%;">

    <div class="button-container" style="margin-top: 10px;">
      <ion-button class="login" shape="round" expand="full">Usuario</ion-button>
      <ion-button class="botton" shape="round" expand="full">Profesional de la salud</ion-button>
    </div>
  </div>
  <div class="home-indicator"></div>
</ion-content>
