<ion-content [fullscreen]="true">
   
  <div class="container">
    <div class="background-color">

      <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
    
      <div class="bottom-section-1">
      
          <ion-searchbar
          placeholder="Nombre / telefono"
          mode="md"
          class="custom">
        </ion-searchbar>

        <div class="text-content" >
          <h3 class="custom-heading"><strong>Mis Pacientes</strong></h3>
        </div>
       

        <ion-item  class="ion-item" >
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/con1.png" />
          </ion-avatar> 
        
          <ion-label class="ion-align-items-center ion-justify-content-between">
            <div>
              <h6>Usuario Nytelweb</h6> 
              <p style="color: #83989A;">+34 00000000</p>
            </div>
          </ion-label>
          
          <ion-icon src="../../../assets/chico.svg" class="chico"></ion-icon>
          <ion-icon src="../../../assets/burbuja.svg" class="burbuja"></ion-icon>

        </ion-item>



        <ion-item  class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/camarita.svg" />
          </ion-avatar>

          <ion-label>
            <h6>Usuario Nytelweb</h6> 
            <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
          <ion-icon src="../../../assets/chico.svg" class="chico"></ion-icon>
          <ion-icon src="../../../assets/burbuja.svg" class="burbuja"></ion-icon>
        </ion-item>

        <ion-item  class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/con3.png" />
          </ion-avatar>

          <ion-label>
            <h6>Usuario Nytelweb</h6> 
            <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
          <ion-icon src="../../../assets/chico.svg" class="chico"></ion-icon>
          <ion-icon src="../../../assets/burbuja.svg" class="burbuja"></ion-icon>
        </ion-item>

        <ion-item  class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/90.png" />
          </ion-avatar>

          <ion-label>
            <h6>Usuario Nytelweb</h6> 
            <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
          <ion-icon src="../../../assets/chico.svg" class="chico"></ion-icon>
          <ion-icon src="../../../assets/burbuja.svg" class="burbuja"></ion-icon>
        </ion-item>


      </div>
    </div> 
 
</div>
<app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
</ion-content>
