<ion-content [fullscreen]="true">
   
  <div class="container">
    <div class="background-color">
      <div class="top-section-1">
        <ion-icon name="chevron-back" class="back-icon"></ion-icon>
        <div class="centered-content">
          <img src="../../../assets/Logo IWOIS.png" alt="Logo" class="logo-img">
     
        </div>
        <ion-icon name="notifications-outline" [routerLink]="['/notificaciones']" class="notifications-icon" ></ion-icon>
      </div>
      <div class="bottom-section-1">
        <ion-searchbar placeholder="Nombre/telefono"></ion-searchbar>
      
        <div class="text-content" >
          <h3 class="custom-heading"><strong>Mis Pacientes</strong></h3>
        </div>
        <!--ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/90.png" />
          </ion-avatar>
          <ion-label> 
            <h6>Usuario Nytelweb</h6> 
             <p style="color: #83989A;">+34 0000000</p>  
          </ion-label>
        </ion-item-->

        <!--ion-accordion value="first">
          <ion-item slot="header" color="light" [routerLink]="['/lista-pacientes-con']">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../assets/con1.png" />
            </ion-thumbnail>
            <ion-label>
             <h6>Usuario Nytelweb</h6> 
             <p style="color: #83989A;">+34 00000000</p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
          <ion-icon slot="end" name="add-circle"></ion-icon>
        </ion-accordion>
        
        <ion-accordion value="first">
          <ion-item slot="header" color="light" [routerLink]="['/lista-pacientes-con']">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../assets/con4.png" />
            </ion-thumbnail>
            <ion-label>
             <h6>Usuario Invitado</h6> 
             <p style="color: #83989A;">+34 00000000</p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
          <ion-icon slot="end" name="add-circle"></ion-icon>
        </ion-accordion>

        <ion-accordion value="first">
          <ion-item slot="header" color="light" [routerLink]="['/lista-pacientes-con']">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../assets/con3.png" />
            </ion-thumbnail>
            <ion-label>
             <h6>Usuario Nytelweb</h6> 
             <p style="color: #83989A;">+34 00000000</p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
          <ion-icon slot="end" name="add-circle"></ion-icon>
        </ion-accordion>

        <ion-accordion value="first">
          <ion-item slot="header" color="light" [routerLink]="['/lista-pacientes-con']">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../assets/90.png" />
            </ion-thumbnail>
            <ion-label>
             <h6>Usuario Nytelweb</h6> 
             <p style="color: #83989A;">+34 00000000</p>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
          <ion-icon slot="end" name="add-circle"></ion-icon>
        </ion-accordion-->



        <ion-item detail="true" class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/con1.png" />
          </ion-avatar>
        
          <ion-label class="ion-align-items-center ion-justify-content-between">
            <div>
              <h6>Usuario Nytelweb</h6> 
              <p style="color: #83989A;">+34 00000000</p>
            </div>
          </ion-label>
          <ion-icon name="chatbubbles-outline"></ion-icon>

        </ion-item>

        <ion-item detail="true" class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/con4.png" />
          </ion-avatar>

          <ion-label>
            <h6>Usuario Nytelweb</h6> 
            <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
        </ion-item>

        <ion-item detail="true" class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/con3.png" />
          </ion-avatar>

          <ion-label>
            <h6>Usuario Nytelweb</h6> 
            <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
        </ion-item>

        <ion-item detail="true" class="ion-item">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="../../../assets/90.png" />
          </ion-avatar>

          <ion-label>
            <h6>Usuario Nytelweb</h6> 
            <p style="color: #83989A;">+34 00000000</p>
          </ion-label>
        </ion-item>


      </div>
    </div>
 
</div>
  
</ion-content>


<div class="tabs-container">
  <ion-tabs>
    <ion-tab-bar slot="bottom"  class="custom-tab-bar">
      <ion-tab-button tab="home">
        <ion-icon name="cart-outline"></ion-icon>
        
      </ion-tab-button>
      <ion-tab-button tab="notification"  >
        <ion-icon name="home-outline"></ion-icon>
        
      </ion-tab-button>
      <ion-tab-button tab="chat" >
        <ion-icon name="chatbubble-outline"></ion-icon>
        
      </ion-tab-button>
      <ion-tab-button tab="profile" >
        <ion-icon name="person-outline"></ion-icon>
        
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
