<ion-content [fullscreen]="true" class="ion-padding background-image">
  <div class="background-image"></div>

  <div class="top-section">
    <img src="../../../assets/Logo IWOIS.png" alt="Logo IWOIS" class="logo-img">
    <ion-icon name="notifications-outline" class="notifications-icon"  (click)="navigateTo('/emergente-inicio-sesion')" ></ion-icon>
  </div> 

  <div class="modal-container">
    <div class="modal-content">
      <img src="../../assets/mano.png" alt="Foto 2" class="modal-icon">
      <button class="modal-button primary-button">Mis tratamientos</button>
      
      <button class="modal-button" style="color: #666666; " (click)="navigateTo('/busqueda')">Buscar</button>
      
    </div>
  </div>
 
  
  

</ion-content>
 
<ion-tabs >
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="notification" class="elevated-tab">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
   
  </ion-tab-bar>
</ion-tabs>

<!--div class="tabs-container">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="navigateTo('/home')">
        <ion-icon name="cart-outline"></ion-icon>
        
      </ion-tab-button>
      <ion-tab-button tab="notification" (click)="navigateTo('/')">
        <ion-icon name="home-outline"></ion-icon>
        
      </ion-tab-button>
    
      <ion-tab-button tab="profile" (click)="navigateTo('/')">
        <ion-icon name="person-outline"></ion-icon>
        
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div-->