ion-content {
  position: relative;
}

.background-image {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/hprof.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-img {
  height: 30px;
  width: 80px;
  color: #666666;
  filter: brightness(0.4); 
}

.notifications-icon {
  font-size: 30px;
  color: #666666;
}

.modal-container {
  position: fixed;
  bottom: 3%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 40px 40px 0 0;
  text-align: center;
  width: 80%;
 // height: 100%;

 display: flex;
 flex-direction: column;


 align-items: flex-start;

}

.modal-button {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px auto;
  padding: 5px;
  border: none;
  border-radius: 30px;
  background-color: #83989A;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 16px;
  width: 70%;
 
}



.modal-button.primary-button {
  background-color: #83989A;
  color: #FFFFFF;
}

.modal-button:not(.primary-button) {
  background-color: #FFFFFF;
  color: #666666;
  margin-bottom: 40px;
}


  
.modal-icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Ajusta el margen entre la imagen y el botón */
 
  
}

.modal-icon {
  width: 24px; /* Ajusta el ancho de la imagen */
  height: 24px; /* Ajusta la altura de la imagen */
  margin-right: 5px; /* Ajusta el margen derecho de la imagen */
  
}
 

.custom-tab-bar{
  display: flex;
  justify-content: space-between;
  padding: 5px;

  background-color: #ffffff;
 
 border-top-left-radius: 25%;
 border-top-right-radius: 25%;

 overflow: hidden;
 
}

ion-icon{
  font-size: 30px;
}


ion-tab-button {
  height: 40px; /* Ajusta la altura de las pestañas de las esquinas */
 
}



ion-tab-button.elevated-tab {
  height: 60px; /* Ajusta la altura de la pestaña del centro */
  transform: translateY(-10px); /* Ajusta este valor según tus necesidades */
  background-color: #F6F0EC;
  border-radius: 80px;
  padding-top: 5px;


  position: relative;
  z-index: 1;

  
  overflow: visible;
}

.custom-tab-bar .elevated-tab {
  position: relative;
  top: -10px; /* Ajusta este valor negativo según tus necesidades */
  z-index: 1; 
}







