ion-content {
  --background: url('../../assets/foto.png') no-repeat center center fixed;
  background-color: #F6F0EC;
  --background-repeat: no-repeat;
  --background-position: center center;
  --background-size: 100%;
  --ion-safe-area-bottom: 0;
  opacity: 90%;
}

.container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
 
  height: 99px;
}

.logo-container {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    opacity: 80%;
}

.notification-container {
  margin-left: auto;
  height: 90px;
  width: 80px;
  color: #666666;
 
}

.notification-icon {
  font-size: 30px; 
  height: 100px;
}

.home-indicator {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: env(safe-area-inset-bottom);
  background-color: #000000;
  z-index: 9999;
}

ion-button.login{
    --background: #83989A;
    --color: #fff;
  }
    
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px; /* Ajusta este valor según tus necesidades */
    margin-bottom: 20%;
  }
  
  .button-container ion-button {
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
  
  }
  
  
  .botton{
    --background: #FFFFFF;
    color: #666666;
  }