<ion-content [fullscreen]="true">
  <div class="container"> 
    
      
    
        <app-superior [notificationRoute]="'/notificaciones'" [backRoute]="'/notificaciones'"></app-superior>
        
        <h3 class="center"><strong>Título Tratamiento</strong></h3>
    <div class="bottom-section" style="max-height: 70vh;">
     
      <div class="button-container">
        <button class="pretratamiento-button">Pretratamiento</button>
        <button class="postratamiento-button">Postratamiento</button>
      </div>

     

      <app-iconos2
      [iconNames]="['A', 'B', 'C', 'D']"
      [routeA]="'/protocolo-asignado-paciente'"
      [routeB]="'/protocolo-asignado-paciente1'"
      [routeC]="'/protocolo-asignado-paciente2'"
      [routeD]="'/protocolo-asignado-paciente3'"
    ></app-iconos2>
   
 
      <h3 class="faq-text"><strong>Preguntas frecuentes</strong></h3>
      
      <p class="small-text">Resuelve las dudas más frecuentes de tus <br> pacientes a través de tus vídeos explicativos.</p>

      <div class="small-card-container">
      <app-card-prueba
       [images]="[
       '../../../assets/foton.svg',
      '../../../assets/add[1] (1).svg', 
      ]"
      text="Escribe un titulo"
      ></app-card-prueba>
         </div>

         <!--div class="floating-button-container">
          <app-boton2
            [content]="'Añadir Faq'"
            [color]="'#83989A'"
            [backgroundColor]="'#FFFF'"
            [position]="'center'"
            [redirect]="'/home'"
            [icon]="'add-circle'"
            
          ></app-boton2>
        </div-->
        
        <div class="centered-image">
          <img src="../../../assets/añadir.svg" alt="Imagen" />
        </div>
        
        <div class="boton">
          <app-button [content]="'Siguiente'" [color]="''" [position]="'center'" [redirect]="'/nuevo-protocolo2'"></app-button>
        </div>
    </div>


    
  </div>

  <app-custom-tab-bar [tabs]="tabs" 
[iconStyles]="iconStyles" 
[router]="router" 
[tabRoutes]="tabRoutes"
 ></app-custom-tab-bar>
  
</ion-content>






