.custom-tab-bar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
  
    background-color: #ffffff;
   
   border-top-left-radius: 25%;
   border-top-right-radius: 25%;
  
   overflow: hidden;
   
  }
  
  ion-icon{
    font-size: 24px;
  }
  
  
  ion-tab-button {
    height: 40px; /* Ajusta la altura de las pestañas de las esquinas */
   
  }

  .custom-tab-bar ion-tab-button {
    position: relative;
    
  }
  
  .custom-tab-bar ion-tab-button:nth-child(2) {
    transform: translateY(-5px);
  }

  .custom-tab-bar ion-tab-button:nth-child(2) ion-icon {
    background-color: #F6F0EC;
    border-radius: 50%;
   
    //width: 50px; /* Ajusta el tamaño del círculo */
    //height: 50px; /* Ajusta el tamaño del círculo */
    padding: 10px;
  }
  
  .custom-tab-bar ion-tab-button:nth-child(2) ion-icon {
    font-size: 24px; /* Ajusta el tamaño del icono */
  }