
  
  .custom-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999; /* Ajusta este valor según tus necesidades */
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    overflow: hidden;
    background-color: #ffffff;
   left: 0;
  }
  


  ion-icon{
    font-size: 24px;
  }
  
  .tab-icon {
    font-size: 24px; /* Tamaño para los iconos normales */
  }
  
  .larger-icon {
    font-size: 70px; /* Tamaño para el segundo ícono */
  }
  
 
  


  

  
 


